In [13]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [14]:
def get_soup(url):
    response = requests.get(url)
    return BeautifulSoup(response.content, 'html.parser')

In [15]:
base_url = "https://www.carandbike.com/used/cars-in-new-delhi/{}"

all_car_names = []
km_driven = []
fuel_types = []
transmission_types = []
price=[]


for page_num in range(1, 8):
    url = base_url.format(page_num)
    soup = get_soup(url)
    
    if soup:
        name_tags = soup.find_all("div", class_="ucTitle truncate truncate1")
        for tag in name_tags:
            car_name = tag.text.strip()
            all_car_names.append(car_name)
        
        car_info_tags = soup.find_all("ul", class_="ucInfo flex pt10 pb10")
        for info in car_info_tags:
            items = info.find_all("li")
            if len(items) >= 3:
                km_driven.append(items[0].text.strip())
                fuel_types.append(items[1].text.strip())
                transmission_types.append(items[2].text.strip())
                
        price_tags = soup.find_all("div", class_="ucPrice flex gridJcgridAc")
        for tag in price_tags:
            car_price= tag.text.strip()
            price.append(car_price)


print(all_car_names)
print(km_driven)
print(fuel_types)
print(transmission_types)
print(price)

['2022 Maruti Suzuki Wagon R', '2022 Mahindra Scorpio', '2022 Maruti Suzuki Vitara Brezza', '2023 Tata Altroz', '2022 Mahindra XUV300', '2021 Toyota Innova Crysta', '2022 Hyundai i20 N Line', '2022 Kia Seltos', '2021 Mahindra Bolero Neo', '2022 MG Astor', '2022 Tata Safari', '2015 Maruti Suzuki Ritz', '2016 Honda City', '2021 Maruti Suzuki Ertiga', '2018 Honda Amaze', '2023 Maruti Suzuki Wagon R', '2018 Maruti Suzuki Baleno', '2018 Hyundai i20 Active', '2019 Honda Amaze', '2019 Hyundai Creta', '2019 Hyundai Creta', '2021 Maruti Suzuki S-Presso', '2022 Maruti Suzuki Baleno', '2024 Tata Punch', '2023 Maruti Suzuki Baleno', '2018 Hyundai Verna', '2018 Toyota Innova Crysta', '2014 Mahindra Scorpio', '2017 Honda Jazz', '2017 Mahindra XUV500', '2023 Honda Elevate', '2011 Toyota Etios', '2015 Maruti Suzuki Ertiga', '2018 Honda City ZX', '2023 Maruti Suzuki Fronx', '2023 MG Hector', '2019 Maruti Suzuki Wagon R', '2019 Maruti Suzuki Wagon R', '2018 Maruti Suzuki Wagon R', '2017 Maruti Suzuki Celerio', '2019 Hyundai New Santro', '2018 Maruti Suzuki Dzire', '2021 Maruti Suzuki Wagon R', '2021 Renault Triber', '2018 Honda WR-V', '2020 Hyundai Elite i20', '2022 Nissan Magnite', '2022 Kia Sonet', '2022 Hyundai Venue', '2022 Hyundai Venue N Line', '2022 Hyundai Creta', '2020 MG Hector', '2022 MG Astor', '2021 Mahindra Thar', '2022 Mahindra Thar', '2024 Kia Seltos', '2023 Maruti Suzuki Grand Vitara', '2022 Tata Harrier', '2024 Maruti Suzuki Grand Vitara', '2018 Toyota Camry', '2022 Tata Safari', '2018 Tata Tiago', '2018 Hyundai Elite i20', '2019 Maruti Suzuki Baleno', '2022 Tata Altroz', '2021 Toyota Urban Cruiser', '2019 Mahindra XUV300', '2020 Maruti Suzuki XL6', '2022 Kia Sonet', '2022 MG Astor', '2020 Jeep Compass', '2023 MG Astor', '2022 Mahindra Thar', '2015 Hyundai Elite i20', '2016 Maruti Suzuki Baleno', '2019 Maruti Suzuki Ignis', '2021 Nissan Magnite', '2018 Maruti Suzuki Baleno', '2019 Maruti Suzuki Baleno', '2019 Honda Amaze', '2020 Nissan Kicks', '2016 Honda City', '2018 Maruti Suzuki Ciaz', '2022 Tata Nexon', '2021 Tata Nexon', '2020 Volkswagen Vento', '2020 Maruti Suzuki Ertiga', '2020 Ford EcoSport', '2019 Volkswagen Polo', '2019 Hyundai Creta', '2018 Skoda Octavia', '2021 Hyundai Creta', '2013 Honda City', '2020 Maruti Suzuki S-Presso', '2020 Maruti Suzuki Wagon R', '2017 Hyundai Creta', '2019 Hyundai Verna', '2017 Hyundai Creta', '2022 Honda City', '2021 Kia Seltos', '2014 Honda City', '2020 Maruti Suzuki Wagon R', '2017 Honda Jazz', '2021 Maruti Suzuki Wagon R', '2017 Honda Jazz', '2016 Honda BR-V', '2015 Hyundai Creta', '2017 Tata Hexa', '2019 Mahindra XUV300', '2015 Honda CR-V', '2019 MG Hector', '2021 MG Hector Plus', '2021 MG Hector', '2024 Mahindra Thar', '2019 Toyota Corolla Altis', '2024 MG Astor', '2023 Hyundai Creta', '2021 Mahindra Thar', '2023 Hyundai Verna', '2022 MG Hector', '2018 BMW X1', '2023 MG Hector', '2019 Renault Triber', '2018 Tata Nexon', '2018 Ford EcoSport', '2020 Honda Amaze', '2020 Volkswagen Polo', '2018 Maruti Suzuki Ciaz', '2019 Hyundai Verna', '2022 Skoda Kushaq', '2021 Volkswagen Taigun', '2020 MG Hector', '2022 Mahindra Thar', '2016 Maruti Suzuki Baleno', '2017 Maruti Suzuki Dzire', '2020 Renault Triber', '2019 Tata Nexon', '2019 Honda Jazz', '2021 Mahindra XUV300', '2019 Maruti Suzuki Vitara Brezza', '2018 Hyundai Verna', '2017 Hyundai Creta', '2022 Maruti Suzuki Vitara Brezza', '2018 Hyundai Creta', '2018 Hyundai Creta', '2021 Kia Sonet', '2021 Hyundai Creta', '2019 Tata Harrier', '2021 Volkswagen Taigun', '2019 Toyota Innova Crysta', '2015 Ford EcoSport', '2023 Tata Altroz', '2020 Honda City', '2022 Maruti Suzuki Ciaz', '2022 Hyundai Creta', '2024 MG Astor', '2011 Skoda Fabia', '2017 Mahindra XUV500', '2021 Hyundai Creta', '2021 Ford Endeavour', '2016 Maruti Suzuki Swift DZire', '2013 Maruti Suzuki Swift DZire', '2019 Hyundai Creta', '2009 Hyundai i10', '2019 Maruti Suzuki Swift', '2022 Maruti Suzuki Wagon R', '2020 Maruti Suzuki Swift', '2018 Maruti Suzuki Swift', '2016 Honda Brio', '2023 Citroen C3', '2022 Maruti Suzuki Brezza', '2023 Maruti Suzuki Grand Vitara', '2022 Kia Sonet', '2022 Mahindra Thar', '2022 Mahindra Thar', '2023 Mahindra Thar', '2023 Volkswagen Taigun', '2018 Hyundai Elite i20', '2022 Hyundai Venue', '2017 Honda Jazz', '2018 Ford EcoSport', '2021 Tata Altroz', '2019 Hyundai Venue', '2022 Kia Sonet', '2020 Ford Endeavour', '2016 Hyundai Creta', '2017 Honda City', '2019 Hyundai Creta', '2022 Hyundai Creta', '2023 Mahindra Thar', '2020 Maruti Suzuki Celerio', '2020 Hyundai Creta', '2021 Hyundai Creta', '2020 MG Hector', '2020 Maruti Suzuki Wagon R', '2016 Datsun Redi GO', '2017 Hyundai Grand i10', '2019 Mahindra XUV300', '2019 Maruti Suzuki Ertiga', '2019 Maruti Suzuki Ignis', '2017 Honda Amaze', '2020 Maruti Suzuki Celerio', '2017 Hyundai Xcent', '2018 Hyundai Creta', '2018 Hyundai Creta', '2013 Nissan Micra Active', '2016 Honda Jazz', '2018 Hyundai Creta', '2020 Kia Seltos', '2022 Mahindra XUV300']
['9,733 km', '17,915 km', '27,398 km', '4,900 km', '27,200 km', '16,791 km', '5,188 km', '35,700 km', '38,000 km', '43,189 km', '41,085 km', '70,474 km', '53,236 km', '51,000 km', '52,878 km', '13,022 km', '50,923 km', '64,278 km', '55,000 km', '75,344 km', '63,685 km', '27,000 km', '14,600 km', '3,600 km', '21,000 km', '75,000 km', '85,000 km', '88,787 km', '65,032 km', '62,960 km', '2,555 km', '58,995 km', '73,790 km', '68,000 km', '8,700 km', '8,050 km', '26,897 km', '45,600 km', '61,000 km', '8,365 km', '23,508 km', '20,946 km', '53,585 km', '16,795 km', '22,000 km', '18,316 km', '23,000 km', '29,518 km', '30,000 km', '3,000 km', '17,950 km', '27,487 km', '28,083 km', '18,600 km', '23,561 km', '2,298 km', '20,682 km', '23,259 km', '4,812 km', '26,000 km', '29,487 km', '48,000 km', '49,002 km', '37,000 km', '43,000 km', '35,226 km', '50,000 km', '36,327 km', '31,396 km', '44,183 km', '39,000 km', '40,275 km', '38,074 km', '70,000 km', '60,000 km', '60,000 km', '51,433 km', '55,000 km', '60,012 km', '52,000 km', '72,000 km', '61,000 km', '61,000 km', '51,514 km', '52,000 km', '59,624 km', '63,138 km', '83,843 km', '65,833 km', '83,860 km', '54,000 km', '60,950 km', '50,000 km', '36,000 km', '44,688 km', '50,000 km', '47,000 km', '41,000 km', '37,547 km', '41,238 km', '93,685 km', '50,324 km', '52,775 km', '61,602 km', '57,000 km', '69,000 km', '65,000 km', '67,000 km', '50,500 km', '82,000 km', '74,428 km', '4,344 km', '15,926 km', '8,457 km', '62,000 km', '18 km', '26,029 km', '24,547 km', '24,000 km', '25,000 km', '75,000 km', '29,111 km', '42,186 km', '38,791 km', '45,088 km', '49,000 km', '42,326 km', '39,000 km', '47,278 km', '42,460 km', '31,000 km', '38,000 km', '30,765 km', '74,093 km', '71,034 km', '51,223 km', '65,212 km', '52,000 km', '60,068 km', '54,597 km', '56,932 km', '73,420 km', '52,545 km', '59,801 km', '56,007 km', '76,880 km', '51,184 km', '73,346 km', '53,436 km', '71,866 km', '52,239 km', '15,597 km', '68,631 km', '21,131 km', '55,790 km', '18,704 km', '70,385 km', '70,412 km', '38,475 km', '1,62,344 km', '1,08,654 km', '96,418 km', '82,453 km', '87,000 km', '25,000 km', '21,000 km', '17,000 km', '43,500 km', '25,000 km', '20,205 km', '26,000 km', '15,000 km', '21,000 km', '24,000 km', '9,000 km', '11,000 km', '7,000 km', '40,000 km', '32,000 km', '60,000 km', '77,500 km', '14,800 km', '62,000 km', '21,200 km', '57,000 km', '73,000 km', '67,000 km', '69,000 km', '20,000 km', '6,000 km', '31,000 km', '31,000 km', '44,000 km', '48,000 km', '55,169 km', '42,800 km', '44,500 km', '45,890 km', '47,563 km', '64,499 km', '58,682 km', '60,967 km', '63,727 km', '81,000 km', '53,847 km', '43,069 km', '67,000 km', '81,000 km', '66,611 km', '13,753 km']
['Petrol', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol+CNG', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol+CNG', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol+CNG', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol+CNG', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Hybrid', 'Diesel', 'Hybrid', 'Hybrid', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol+CNG', 'Petrol', 'Petrol+CNG', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Petrol+CNG', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Hybrid', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol+CNG', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol+CNG', 'Petrol', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Petrol']
['Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Automatic', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Automatic', 'AMT', 'Manual', 'Manual', 'Manual', 'Automatic', 'Automatic', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Manual', 'Manual', 'AMT', 'AMT', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Automatic', 'Automatic', 'Automatic', 'Automatic', 'Automatic', 'Automatic', 'Automatic', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Automatic', 'Manual', 'Automatic', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Automatic', 'Manual', 'Manual', 'Automatic', 'Automatic', 'Manual', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Automatic', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Automatic', 'Automatic', 'Automatic', 'Manual', 'AMT', 'Manual', 'AMT', 'Automatic', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Automatic', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'AMT', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Automatic', 'Automatic', 'Manual', 'Automatic', 'Automatic', 'Manual', 'Automatic', 'Automatic', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Automatic', 'Manual', 'Automatic', 'AMT', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual']
['Rs. 5.25 Lakh', 'Rs. 13.75 Lakh', 'Rs. 8.5 Lakh', 'Rs. 9.75 Lakh', 'Rs. 10.15 Lakh', 'Rs. 16.95 Lakh', 'Rs. 10.25 Lakh', 'Rs. 13.75 Lakh', 'Rs. 9.5 Lakh', 'Rs. 13 Lakh', 'Rs. 17.95 Lakh', 'Rs. 3.65 Lakh', 'Rs. 5 Lakh', 'Rs. 10.5 Lakh', 'Rs. 5.65 Lakh', 'Rs. 5.65 Lakh', 'Rs. 5.9 Lakh', 'Rs. 6.35 Lakh', 'Rs. 6.75 Lakh', 'Rs. 8.25 Lakh', 'Rs. 9.9 Lakh', 'Rs. 4.75 Lakh', 'Rs. 7.1 Lakh', 'Rs. 8.75 Lakh', 'Rs. 8.9 Lakh', 'Rs. 9.5 Lakh', 'Rs. 15.25 Lakh', 'Rs. 2.7 Lakh', 'Rs. 5.25 Lakh', 'Rs. 7.75 Lakh', 'Rs. 14.9 Lakh', 'Rs. 1.9 Lakh', 'Rs. 5.25 Lakh', 'Rs. 9.75 Lakh', 'Rs. 11.9 Lakh', 'Rs. 22.5 Lakh', 'Rs. 5.37 Lakh', 'Rs. 4.97 Lakh', 'Rs. 4.65 Lakh', 'Rs. 4.75 Lakh', 'Rs. 4.87 Lakh', 'Rs. 5.5 Lakh', 'Rs. 5.87 Lakh', 'Rs. 6.47 Lakh', 'Rs. 6.97 Lakh', 'Rs. 7.97 Lakh', 'Rs. 7.99 Lakh', 'Rs. 9.25 Lakh', 'Rs. 10.45 Lakh', 'Rs. 12.5 Lakh', 'Rs. 12.75 Lakh', 'Rs. 13.25 Lakh', 'Rs. 13.95 Lakh', 'Rs. 15.77 Lakh', 'Rs. 16.5 Lakh', 'Rs. 17.9 Lakh', 'Rs. 18.95 Lakh', 'Rs. 19.37 Lakh', 'Rs. 21.5 Lakh', 'Rs. 26.5 Lakh', 'Rs. 18.25 Lakh', 'Rs. 4.67 Lakh', 'Rs. 6.4 Lakh', 'Rs. 6.87 Lakh', 'Rs. 7.67 Lakh', 'Rs. 9.75 Lakh', 'Rs. 9.97 Lakh', 'Rs. 10.57 Lakh', 'Rs. 11.9 Lakh', 'Rs. 13.95 Lakh', 'Rs. 14.91 Lakh', 'Rs. 14.95 Lakh', 'Rs. 15.67 Lakh', 'Rs. 4.67 Lakh', 'Rs. 5.14 Lakh', 'Rs. 5.67 Lakh', 'Rs. 5.97 Lakh', 'Rs. 6.47 Lakh', 'Rs. 6.5 Lakh', 'Rs. 6.57 Lakh', 'Rs. 6.97 Lakh', 'Rs. 7.47 Lakh', 'Rs. 7.57 Lakh', 'Rs. 7.75 Lakh', 'Rs. 7.87 Lakh', 'Rs. 7.97 Lakh', 'Rs. 8.67 Lakh', 'Rs. 8.87 Lakh', 'Rs. 8.95 Lakh', 'Rs. 10.5 Lakh', 'Rs. 14.47 Lakh', 'Rs. 16.37 Lakh', 'Rs. 3.5 Lakh', 'Rs. 4.37 Lakh', 'Rs. 4.95 Lakh', 'Rs. 7.7 Lakh', 'Rs. 9.57 Lakh', 'Rs. 9.67 Lakh', 'Rs. 10.95 Lakh', 'Rs. 15.65 Lakh', 'Rs. 4.95 Lakh', 'Rs. 5.25 Lakh', 'Rs. 5.5 Lakh', 'Rs. 5.5 Lakh', 'Rs. 6.27 Lakh', 'Rs. 6.87 Lakh', 'Rs. 7.47 Lakh', 'Rs. 8.67 Lakh', 'Rs. 9.47 Lakh', 'Rs. 10.77 Lakh', 'Rs. 12.95 Lakh', 'Rs. 14.65 Lakh', 'Rs. 14.65 Lakh', 'Rs. 14.75 Lakh', 'Rs. 14.87 Lakh', 'Rs. 14.95 Lakh', 'Rs. 14.95 Lakh', 'Rs. 14.95 Lakh', 'Rs. 15.5 Lakh', 'Rs. 18.47 Lakh', 'Rs. 22.77 Lakh', 'Rs. 22.95 Lakh', 'Rs. 6.15 Lakh', 'Rs. 6.5 Lakh', 'Rs. 6.87 Lakh', 'Rs. 7.37 Lakh', 'Rs. 7.5 Lakh', 'Rs. 8.47 Lakh', 'Rs. 9.35 Lakh', 'Rs. 12.65 Lakh', 'Rs. 13.67 Lakh', 'Rs. 16.31 Lakh', 'Rs. 16.35 Lakh', 'Rs. 4.99 Lakh', 'Rs. 5.75 Lakh', 'Rs. 6.15 Lakh', 'Rs. 6.99 Lakh', 'Rs. 7.25 Lakh', 'Rs. 7.65 Lakh', 'Rs. 7.99 Lakh', 'Rs. 8.25 Lakh', 'Rs. 8.95 Lakh', 'Rs. 8.99 Lakh', 'Rs. 9 Lakh', 'Rs. 9.25 Lakh', 'Rs. 10.5 Lakh', 'Rs. 12.4 Lakh', 'Rs. 12.95 Lakh', 'Rs. 13.5 Lakh', 'Rs. 16.95 Lakh', 'Rs. 4.95 Lakh', 'Rs. 8.89 Lakh', 'Rs. 9.25 Lakh', 'Rs. 9.5 Lakh', 'Rs. 11.95 Lakh', 'Rs. 15.95 Lakh', 'Rs. 1.99 Lakh', 'Rs. 9.25 Lakh', 'Rs. 15.5 Lakh', 'Rs. 31.95 Lakh', 'Rs. 3.45 Lakh', 'Rs. 3.6 Lakh', 'Rs. 10.6 Lakh', 'Rs. 2 Lakh', 'Rs. 5.75 Lakh', 'Rs. 6.2 Lakh', 'Rs. 7.2 Lakh', 'Rs. 5.4 Lakh', 'Rs. 3.99 Lakh', 'Rs. 6.99 Lakh', 'Rs. 9.1 Lakh', 'Rs. 11.4 Lakh', 'Rs. 13.49 Lakh', 'Rs. 15 Lakh', 'Rs. 15.49 Lakh', 'Rs. 16.5 Lakh', 'Rs. 17.49 Lakh', 'Rs. 6.6 Lakh', 'Rs. 8.99 Lakh', 'Rs. 5.4 Lakh', 'Rs. 6.6 Lakh', 'Rs. 7.2 Lakh', 'Rs. 8.3 Lakh', 'Rs. 12.99 Lakh', 'Rs. 31.5 Lakh', 'Rs. 6.6 Lakh', 'Rs. 8 Lakh', 'Rs. 10.9 Lakh', 'Rs. 11.99 Lakh', 'Rs. 14.99 Lakh', 'Rs. 5.3 Lakh', 'Rs. 10.9 Lakh', 'Rs. 11.25 Lakh', 'Rs. 13.99 Lakh', 'Rs. 5.4 Lakh', 'Rs. 2.5 Lakh', 'Rs. 4.65 Lakh', 'Rs. 7.85 Lakh', 'Rs. 8.75 Lakh', 'Rs. 4.75 Lakh', 'Rs. 4.75 Lakh', 'Rs. 4.95 Lakh', 'Rs. 5.25 Lakh', 'Rs. 7.65 Lakh', 'Rs. 8.35 Lakh', 'Rs. 2.65 Lakh', 'Rs. 4.88 Lakh', 'Rs. 10 Lakh', 'Rs. 10.25 Lakh', 'Rs. 10.5 Lakh']

In [16]:
data1 = {
    'Name': all_car_names,
    'Kilometers Driven': km_driven,
    'Fuel Type': fuel_types,
    'Transmission Type': transmission_types,
    'Price': price
}

In [17]:
df1 = pd.DataFrame(data1)
df1['City'] = 'New Delhi'

df1

,Name,Kilometers Driven,Fuel Type,Transmission Type,Price,City
0,2022 Maruti Suzuki Wagon R,"9,733 km",Petrol,Manual,Rs. 5.25 Lakh,New Delhi
1,2022 Mahindra Scorpio,"17,915 km",Diesel,Manual,Rs. 13.75 Lakh,New Delhi
2,2022 Maruti Suzuki Vitara Brezza,"27,398 km",Petrol,Manual,Rs. 8.5 Lakh,New Delhi
3,2023 Tata Altroz,"4,900 km",Petrol,Manual,Rs. 9.75 Lakh,New Delhi
4,2022 Mahindra XUV300,"27,200 km",Diesel,Manual,Rs. 10.15 Lakh,New Delhi
...,...,...,...,...,...,...
205,2013 Nissan Micra Active,"43,069 km",Petrol,Manual,Rs. 2.65 Lakh,New Delhi
206,2016 Honda Jazz,"67,000 km",Petrol,Manual,Rs. 4.88 Lakh,New Delhi
207,2018 Hyundai Creta,"81,000 km",Diesel,Automatic,Rs. 10 Lakh,New Delhi
208,2020 Kia Seltos,"66,611 km",Diesel,Manual,Rs. 10.25 Lakh,New Delhi
209,2022 Mahindra XUV300,"13,753 km",Petrol,Manual,Rs. 10.5 Lakh,New Delhi

In [18]:
base_url = "https://www.carandbike.com/used/cars-in-mumbai/{}"

all_car_names = []
km_driven = []
fuel_types = []
transmission_types = []
price=[]


for page_num in range(1, 5):
    url = base_url.format(page_num)
    soup = get_soup(url)
    
    if soup:
        name_tags = soup.find_all("div", class_="ucTitle truncate truncate1")
        for tag in name_tags:
            car_name = tag.text.strip()
            all_car_names.append(car_name)
        
        car_info_tags = soup.find_all("ul", class_="ucInfo flex pt10 pb10")
        for info in car_info_tags:
            items = info.find_all("li")
            if len(items) >= 3:
                km_driven.append(items[0].text.strip())
                fuel_types.append(items[1].text.strip())
                transmission_types.append(items[2].text.strip())
                
        price_tags = soup.find_all("div", class_="ucPrice flex gridJcgridAc")
        for tag in price_tags:
            car_price= tag.text.strip()
            price.append(car_price)


print(all_car_names)
print(km_driven)
print(fuel_types)
print(transmission_types)
print(price)

['2017 Maruti Suzuki Wagon R', '2019 Honda City', '2017 Maruti Suzuki Swift DZire', '2016 Maruti Suzuki Wagon R', '2018 Hyundai New Santro', '2018 Honda WR-V', '2018 Maruti Suzuki Baleno', '2018 Skoda Rapid', '2022 Tata Altroz', '2020 Honda WR-V', '2021 Maruti Suzuki S-Cross', '2021 Hyundai Venue', '2021 Maruti Suzuki XL6', '2022 Mahindra Marazzo', '2014 Maruti Suzuki Wagon R', '2014 Maruti Suzuki Celerio', '2020 Maruti Suzuki S-Presso', '2017 Maruti Suzuki Baleno', '2017 Hyundai i20', '2017 Honda BR-V', '2022 Renault Kiger', '2018 Honda WR-V', '2020 Tata Nexon', '2019 Hyundai Venue', '2021 Hyundai Venue', '2014 Maruti Suzuki Swift DZire', '2015 Hyundai Xcent', '2016 Honda Jazz', '2017 Hyundai Grand i10', '2018 Maruti Suzuki Swift', '2018 Honda Jazz', '2018 Honda Jazz', '2021 Renault Kiger', '2017 Honda WR-V', '2018 Ford EcoSport', '2018 Maruti Suzuki Ciaz', '2018 Tata Nexon', '2018 Tata Nexon', '2019 Maruti Suzuki Ciaz', '2018 Maruti Suzuki Ciaz', '2018 Honda City ZX', '2016 Datsun Go Plus', '2015 Volkswagen Polo', '2016 Honda Jazz', '2021 Hyundai Aura', '2018 Tata Nexon', '2020 Maruti Suzuki S-Presso', '2015 Hyundai Grand i10', '2016 Hyundai Elite i20', '2017 Tata Tiago', '2015 Hyundai i20', '2014 Honda City', '2016 Ford EcoSport', '2018 Tata Tigor', '2017 Maruti Suzuki Baleno', '2016 Volkswagen Vento', '2016 Renault Duster', '2016 Honda City', '2023 Maruti Suzuki Celerio', '2016 Renault Duster', '2016 Maruti Suzuki Ertiga', '2017 Honda City ZX', '2017 Hyundai Creta', '2018 Maruti Suzuki Vitara Brezza', '2016 Toyota Corolla Altis', '2018 Hyundai Creta', '2016 Skoda Octavia', '2022 Mahindra XUV300', '2017 Hyundai Creta', '2019 Mahindra XUV500', '2016 Skoda Superb', '2016 BMW X1', '2015 Mercedes-Benz GL-Class', '2017 Renault Kwid', '2016 Honda Amaze', '2018 Maruti Suzuki Celerio', '2018 Maruti Suzuki Celerio', '2015 Renault Duster', '2016 Hyundai i20', '2015 Volkswagen Vento', '2019 Hyundai Grand i10', '2018 Tata Nexon', '2017 Honda City', '2018 Maruti Suzuki Vitara Brezza', '2019 Tata Nexon', '2020 Honda City', '2018 Hyundai Creta', '2017 Hyundai Xcent', '2019 Honda City', '2012 Maruti Suzuki Swift DZire', '2014 Volkswagen Vento', '2014 Volkswagen Polo', '2014 Ford EcoSport', '2018 Ford Freestyle', '2015 Hyundai Verna', '2016 Volkswagen Ameo', '2016 Hyundai Verna', '2016 Honda BR-V', '2019 Maruti Suzuki Vitara Brezza', '2016 Hyundai Creta', '2019 Hyundai Venue', '2016 Hyundai Creta', '2017 Hyundai Creta', '2016 Hyundai Creta', '2022 Tata Nexon EV', '2019 Kia Seltos', '2015 Mercedes-Benz M-Class', '2021 Toyota Innova Crysta', '2020 Honda City', '2013 Nissan Terrano', '2015 Skoda Rapid', '2015 Skoda Rapid', '2015 Ford EcoSport', '2016 Maruti Suzuki Ciaz', '2016 Hyundai Verna', '2017 Renault Duster', '2016 Maruti Suzuki Ertiga', '2018 Toyota Corolla Altis', '2017 Maruti Suzuki Dzire', '2016 Skoda Rapid']
['27,522 km', '29,960 km', '46,569 km', '66,113 km', '28,683 km', '21,000 km', '27,021 km', '9,638 km', '20,190 km', '20,840 km', '22,485 km', '23,683 km', '21,577 km', '7,798 km', '47,847 km', '31,527 km', '31,178 km', '40,442 km', '37,360 km', '40,995 km', '33,036 km', '41,845 km', '49,616 km', '33,000 km', '46,107 km', '57,649 km', '0 km', '21,438 km', '59,982 km', '7,00,000 km', '54,767 km', '24,772 km', '27,277 km', '59,681 km', '57,234 km', '67,000 km', '52,912 km', '26,355 km', '60,442 km', '12,849 km', '60,236 km', '47,235 km', '49,229 km', '47,649 km', '37,461 km', '48,233 km', '14,769 km', '54,609 km', '70,000 km', '66,877 km', '75,457 km', '71,826 km', '50,232 km', '5,340 km', '66,033 km', '28,278 km', '68,167 km', '52,699 km', '5,128 km', '61,753 km', '80,000 km', '53,740 km', '64,829 km', '26,419 km', '76,225 km', '51,651 km', '62,486 km', '11,801 km', '54,284 km', '87,520 km', '57,417 km', '98,000 km', '71,518 km', '40,104 km', '33,100 km', '42,460 km', '38,338 km', '32,147 km', '39,436 km', '48,090 km', '32,361 km', '32,535 km', '43,620 km', '49,313 km', '41,125 km', '34,093 km', '44,355 km', '49,029 km', '33,889 km', '67,944 km', '79,906 km', '83,906 km', '53,037 km', '50,873 km', '54,375 km', '50,013 km', '60,085 km', '58,172 km', '70,638 km', '75,213 km', '60,000 km', '56,769 km', '59,478 km', '65,657 km', '17,831 km', '58,246 km', '98,774 km', '59,088 km', '36,155 km', '88,017 km', '78,107 km', '63,333 km', '66,129 km', '74,651 km', '52,215 km', '62,140 km', '53,081 km', '63,503 km', '59,485 km', '38,104 km']
['Petrol+CNG', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Petrol+CNG', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Petrol+CNG', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Petrol+CNG', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Electric', 'Petrol', 'Diesel', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Petrol']
['Manual', 'Automatic', 'AMT', 'AMT', 'AMT', 'Manual', 'Automatic', 'Automatic', 'Manual', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Manual', 'Manual', 'AMT', 'Manual', 'Manual', 'Manual', 'Manual', 'AMT', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Automatic', 'Manual', 'AMT', 'Automatic', 'Automatic', 'AMT', 'Manual', 'Automatic', 'Manual', 'AMT', 'AMT', 'Automatic', 'Automatic', 'Automatic', 'Manual', 'Manual', 'Automatic', 'AMT', 'AMT', 'AMT', 'Automatic', 'Manual', 'AMT', 'Manual', 'Manual', 'Automatic', 'AMT', 'Automatic', 'Automatic', 'Manual', 'Automatic', 'AMT', 'Manual', 'Manual', 'Automatic', 'Automatic', 'AMT', 'Manual', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Automatic', 'Automatic', 'AMT', 'Manual', 'Manual', 'AMT', 'Manual', 'Manual', 'Automatic', 'Automatic', 'AMT', 'Automatic', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Automatic', 'AMT', 'Automatic', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Automatic', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Automatic', 'Automatic', 'Automatic', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Manual', 'Automatic', 'AMT', 'Manual', 'Automatic', 'AMT', 'Automatic']
['Rs. 4.25 Lakh', 'Rs. 8.75 Lakh', 'Rs. 6.35 Lakh', 'Rs. 3.95 Lakh', 'Rs. 4.85 Lakh', 'Rs. 6.25 Lakh', 'Rs. 6.75 Lakh', 'Rs. 7.95 Lakh', 'Rs. 7.95 Lakh', 'Rs. 8.25 Lakh', 'Rs. 9.95 Lakh', 'Rs. 10.95 Lakh', 'Rs. 11.95 Lakh', 'Rs. 13.75 Lakh', 'Rs. 3.45 Lakh', 'Rs. 3.9 Lakh', 'Rs. 4.95 Lakh', 'Rs. 5.35 Lakh', 'Rs. 5.95 Lakh', 'Rs. 7.25 Lakh', 'Rs. 7.75 Lakh', 'Rs. 7.75 Lakh', 'Rs. 7.95 Lakh', 'Rs. 9.25 Lakh', 'Rs. 10.65 Lakh', 'Rs. 4.35 Lakh', 'Rs. 4.75 Lakh', 'Rs. 5.65 Lakh', 'Rs. 5.65 Lakh', 'Rs. 5.85 Lakh', 'Rs. 6.45 Lakh', 'Rs. 6.75 Lakh', 'Rs. 6.95 Lakh', 'Rs. 7.25 Lakh', 'Rs. 7.45 Lakh', 'Rs. 7.75 Lakh', 'Rs. 8.15 Lakh', 'Rs. 8.25 Lakh', 'Rs. 8.65 Lakh', 'Rs. 8.75 Lakh', 'Rs. 9.65 Lakh', 'Rs. 2.75 Lakh', 'Rs. 4.25 Lakh', 'Rs. 5.55 Lakh', 'Rs. 7 Lakh', 'Rs. 8.25 Lakh', 'Rs. 4.45 Lakh', 'Rs. 4.55 Lakh', 'Rs. 4.8 Lakh', 'Rs. 4.85 Lakh', 'Rs. 5.15 Lakh', 'Rs. 5.35 Lakh', 'Rs. 5.65 Lakh', 'Rs. 6.15 Lakh', 'Rs. 6.25 Lakh', 'Rs. 6.35 Lakh', 'Rs. 6.85 Lakh', 'Rs. 6.95 Lakh', 'Rs. 7 Lakh', 'Rs. 7.45 Lakh', 'Rs. 7.5 Lakh', 'Rs. 8.25 Lakh', 'Rs. 8.95 Lakh', 'Rs. 9.15 Lakh', 'Rs. 9.25 Lakh', 'Rs. 9.65 Lakh', 'Rs. 9.65 Lakh', 'Rs. 10.45 Lakh', 'Rs. 10.75 Lakh', 'Rs. 14.65 Lakh', 'Rs. 17.65 Lakh', 'Rs. 17.75 Lakh', 'Rs. 35.5 Lakh', 'Rs. 3.65 Lakh', 'Rs. 4.25 Lakh', 'Rs. 4.9 Lakh', 'Rs. 5.35 Lakh', 'Rs. 5.75 Lakh', 'Rs. 5.95 Lakh', 'Rs. 6.35 Lakh', 'Rs. 6.45 Lakh', 'Rs. 7.65 Lakh', 'Rs. 7.75 Lakh', 'Rs. 7.75 Lakh', 'Rs. 9.45 Lakh', 'Rs. 10.8 Lakh', 'Rs. 11.35 Lakh', 'Rs. 5.45 Lakh', 'Rs. 8.2 Lakh', 'Rs. 3.95 Lakh', 'Rs. 4.55 Lakh', 'Rs. 4.75 Lakh', 'Rs. 5.1 Lakh', 'Rs. 5.45 Lakh', 'Rs. 5.95 Lakh', 'Rs. 6.25 Lakh', 'Rs. 6.75 Lakh', 'Rs. 6.85 Lakh', 'Rs. 7.9 Lakh', 'Rs. 7.95 Lakh', 'Rs. 8.5 Lakh', 'Rs. 8.55 Lakh', 'Rs. 8.55 Lakh', 'Rs. 8.65 Lakh', 'Rs. 11.25 Lakh', 'Rs. 12.95 Lakh', 'Rs. 21.75 Lakh', 'Rs. 22 Lakh', 'Rs. 9.95 Lakh', 'Rs. 4.75 Lakh', 'Rs. 5.25 Lakh', 'Rs. 5.35 Lakh', 'Rs. 5.65 Lakh', 'Rs. 6.25 Lakh', 'Rs. 6.45 Lakh', 'Rs. 7.75 Lakh', 'Rs. 8.15 Lakh', 'Rs. 10.35 Lakh', 'Rs. 5.8 Lakh', 'Rs. 6.45 Lakh']

In [19]:
data2 = {
    'Name': all_car_names,
    'Kilometers Driven': km_driven,
    'Fuel Type': fuel_types,
    'Transmission Type': transmission_types,
    'Price': price
}

In [20]:
df2 = pd.DataFrame(data2)
df2['City'] = 'Mumbai'

df2

,Name,Kilometers Driven,Fuel Type,Transmission Type,Price,City
0,2017 Maruti Suzuki Wagon R,"27,522 km",Petrol+CNG,Manual,Rs. 4.25 Lakh,Mumbai
1,2019 Honda City,"29,960 km",Petrol,Automatic,Rs. 8.75 Lakh,Mumbai
2,2017 Maruti Suzuki Swift DZire,"46,569 km",Petrol,AMT,Rs. 6.35 Lakh,Mumbai
3,2016 Maruti Suzuki Wagon R,"66,113 km",Petrol,AMT,Rs. 3.95 Lakh,Mumbai
4,2018 Hyundai New Santro,"28,683 km",Petrol,AMT,Rs. 4.85 Lakh,Mumbai
...,...,...,...,...,...,...
115,2017 Renault Duster,"62,140 km",Diesel,AMT,Rs. 7.75 Lakh,Mumbai
116,2016 Maruti Suzuki Ertiga,"53,081 km",Diesel,Manual,Rs. 8.15 Lakh,Mumbai
117,2018 Toyota Corolla Altis,"63,503 km",Petrol,Automatic,Rs. 10.35 Lakh,Mumbai
118,2017 Maruti Suzuki Dzire,"59,485 km",Petrol,AMT,Rs. 5.8 Lakh,Mumbai
119,2016 Skoda Rapid,"38,104 km",Petrol,Automatic,Rs. 6.45 Lakh,Mumbai

In [44]:
base_url = "https://www.carandbike.com/used/cars-in-bangalore/{}"

all_car_names = []
km_driven = []
fuel_types = []
transmission_types = []
price=[]


for page_num in range(1, 5):
    url = base_url.format(page_num)
    soup = get_soup(url)
    
    if soup:
        name_tags = soup.find_all("div", class_="ucTitle truncate truncate1")
        for tag in name_tags:
            car_name = tag.text.strip()
            all_car_names.append(car_name)
        
        car_info_tags = soup.find_all("ul", class_="ucInfo flex pt10 pb10")
        for info in car_info_tags:
            items = info.find_all("li")
            if len(items) >= 3:
                km_driven.append(items[0].text.strip())
                fuel_types.append(items[1].text.strip())
                transmission_types.append(items[2].text.strip())
                
        price_tags = soup.find_all("div", class_="ucPrice flex gridJcgridAc")
        for tag in price_tags:
            car_price= tag.text.strip()
            price.append(car_price)


print(all_car_names)
print(km_driven)
print(fuel_types)
print(transmission_types)
print(price)

['2022 Mahindra Bolero', '2014 Maruti Suzuki Wagon R', '2016 Maruti Suzuki Alto K10', '2015 Maruti Suzuki Celerio', '2017 Tata Tiago', '2018 Maruti Suzuki Swift', '2018 Maruti Suzuki Swift DZire', '2022 Citroen C3', '2019 Renault Triber', '2019 Toyota Glanza', '2019 Tata Nexon', '2022 Mahindra Thar', '2022 Hyundai Alcazar', '2023 Mahindra Scorpio Classic', '2022 Mahindra Scorpio-N', '2016 Renault Kwid', '2016 Maruti Suzuki Celerio', '2017 Hyundai Grand i10', '2015 Maruti Suzuki Swift DZire', '2018 Tata Tiago', '2017 Honda Jazz', '2018 Tata Tiago', '2015 Honda Jazz', '2016 Volkswagen Polo', '2016 Hyundai i20 Active', '2018 Tata Tigor', '2019 Tata Tiago', '2020 Tata Tiago', '2017 Mahindra TUV300', '2021 Tata Altroz', '2019 Hyundai Elite i20', '2020 Hyundai Venue', '2016 Hyundai Creta', '2022 Mahindra Thar', '2022 Mahindra XUV700', '2022 Mahindra XUV700', '2017 Hyundai Grand i10', '2019 Volkswagen Ameo', '2018 Hyundai Elite i20', '2017 Hyundai Elite i20', '2021 Tata Altroz', '2019 Tata Nexon', '2017 Maruti Suzuki S-Cross', '2017 Maruti Suzuki Vitara Brezza', '2018 Hyundai Creta', '2016 Honda Jazz', '2016 Honda Jazz', '2019 Renault Triber', '2018 Maruti Suzuki Swift', '2017 Maruti Suzuki Ertiga', '2016 Tata Nano', '2015 Nissan Micra Active', '2014 Ford Fiesta Classic', '2021 Maruti Suzuki S-Presso', '2020 Renault Kwid', '2019 Maruti Suzuki Celerio', '2020 Tata Altroz', '2016 Maruti Suzuki Ciaz', '2018 Volkswagen Ameo', '2017 Maruti Suzuki Baleno', '2016 Hyundai Grand i10', '2015 Maruti Suzuki Ciaz', '2017 Renault Duster', '2018 Maruti Suzuki Baleno', '2018 Tata Nexon', '2021 Maruti Suzuki Baleno', '2022 Maruti Suzuki Baleno', '2012 Hyundai Fluidic Verna', '2014 Hyundai Grand i10', '2017 Ford Figo', '2015 Renault Lodgy', '2014 Volkswagen Polo', '2019 Maruti Suzuki Baleno', '2015 Renault Duster', '2017 Volkswagen Ameo', '2015 Mahindra XUV500', '2014 Mahindra XUV500', '2015 Mahindra XUV500', '2019 Hyundai Venue', '2017 Mahindra XUV500', '2015 Mahindra XUV500', '2012 Volkswagen Polo', '2012 Skoda Rapid', '2012 Skoda Rapid', '2012 Skoda Rapid', '2014 Mahindra XUV500', '2015 Hyundai Grand i10', '2016 Ford EcoSport', '2018 Maruti Suzuki S-Cross']
['17,000 km', '46,400 km', '29,026 km', '28,800 km', '29,439 km', '65,450 km', '53,300 km', '22,210 km', '21,249 km', '23,600 km', '9,686 km', '16,353 km', '28,015 km', '13,568 km', '13,786 km', '49,990 km', '31,200 km', '32,758 km', '31,944 km', '34,709 km', '48,787 km', '43,700 km', '40,700 km', '47,538 km', '36,460 km', '42,050 km', '31,500 km', '37,600 km', '48,750 km', '31,195 km', '39,192 km', '31,801 km', '36,680 km', '32,000 km', '32,145 km', '32,000 km', '53,285 km', '54,525 km', '82,848 km', '62,710 km', '64,459 km', '54,767 km', '51,737 km', '81,451 km', '57,093 km', '32,051 km', '47,660 km', '32,485 km', '42,404 km', '42,217 km', '17,000 km', '17,511 km', '54,350 km', '27,629 km', '4,150 km', '25,545 km', '25,705 km', '56,710 km', '29,413 km', '54,013 km', '35,100 km', '45,483 km', '48,950 km', '42,341 km', '45,226 km', '31,185 km', '32,000 km', '93,898 km', '52,708 km', '57,091 km', '67,046 km', '53,450 km', '72,065 km', '71,603 km', '70,554 km', '87,841 km', '64,600 km', '58,833 km', '51,154 km', '39,685 km', '44,623 km', '1,01,426 km', '89,480 km', '1,00,900 km', '1,01,909 km', '67,146 km', '37,888 km', '71,490 km', '58,000 km']
['Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Diesel', 'Diesel']
['Manual', 'Manual', 'AMT', 'AMT', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'AMT', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'AMT', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'AMT', 'AMT', 'AMT', 'AMT', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Automatic', 'Automatic', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'AMT', 'Manual', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Manual', 'AMT', 'Manual', 'AMT', 'Manual', 'Manual', 'Manual', 'AMT', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual']
['Rs. 10.15 Lakh', 'Rs. 3.95 Lakh', 'Rs. 3.75 Lakh', 'Rs. 4.65 Lakh', 'Rs. 5.25 Lakh', 'Rs. 5.85 Lakh', 'Rs. 6.45 Lakh', 'Rs. 6.45 Lakh', 'Rs. 6.95 Lakh', 'Rs. 7.95 Lakh', 'Rs. 9 Lakh', 'Rs. 16.25 Lakh', 'Rs. 16.5 Lakh', 'Rs. 18 Lakh', 'Rs. 25 Lakh', 'Rs. 3.45 Lakh', 'Rs. 4.3 Lakh', 'Rs. 4.9 Lakh', 'Rs. 5.25 Lakh', 'Rs. 5.35 Lakh', 'Rs. 5.45 Lakh', 'Rs. 5.85 Lakh', 'Rs. 5.9 Lakh', 'Rs. 6 Lakh', 'Rs. 6.25 Lakh', 'Rs. 6.35 Lakh', 'Rs. 6.75 Lakh', 'Rs. 6.95 Lakh', 'Rs. 7.25 Lakh', 'Rs. 7.95 Lakh', 'Rs. 7.95 Lakh', 'Rs. 8.25 Lakh', 'Rs. 9.75 Lakh', 'Rs. 16.5 Lakh', 'Rs. 25 Lakh', 'Rs. 25 Lakh', 'Rs. 5.35 Lakh', 'Rs. 6.15 Lakh', 'Rs. 6.4 Lakh', 'Rs. 6.45 Lakh', 'Rs. 7.25 Lakh', 'Rs. 7.95 Lakh', 'Rs. 8.45 Lakh', 'Rs. 8.75 Lakh', 'Rs. 11.25 Lakh', 'Rs. 5.75 Lakh', 'Rs. 6.55 Lakh', 'Rs. 6.85 Lakh', 'Rs. 6.95 Lakh', 'Rs. 7.75 Lakh', 'Rs. 2.8 Lakh', 'Rs. 3.75 Lakh', 'Rs. 3.95 Lakh', 'Rs. 4.95 Lakh', 'Rs. 5.25 Lakh', 'Rs. 5.35 Lakh', 'Rs. 5.95 Lakh', 'Rs. 6.45 Lakh', 'Rs. 6.5 Lakh', 'Rs. 6.85 Lakh', 'Rs. 5.95 Lakh', 'Rs. 6.2 Lakh', 'Rs. 6.95 Lakh', 'Rs. 7.25 Lakh', 'Rs. 7.55 Lakh', 'Rs. 7.75 Lakh', 'Rs. 9.25 Lakh', 'Rs. 4.5 Lakh', 'Rs. 4.5 Lakh', 'Rs. 5.55 Lakh', 'Rs. 6.1 Lakh', 'Rs. 6.45 Lakh', 'Rs. 6.5 Lakh', 'Rs. 6.65 Lakh', 'Rs. 6.75 Lakh', 'Rs. 8.45 Lakh', 'Rs. 8.95 Lakh', 'Rs. 9.15 Lakh', 'Rs. 9.45 Lakh', 'Rs. 10 Lakh', 'Rs. 11 Lakh', 'Rs. 3.75 Lakh', 'Rs. 3.95 Lakh', 'Rs. 4.25 Lakh', 'Rs. 4.5 Lakh', 'Rs. 9.5 Lakh', 'Rs. 4.7 Lakh', 'Rs. 7.25 Lakh']

In [58]:
data3 = {
    'Name': all_car_names,
    'Kilometers Driven': km_driven,
    'Fuel Type': fuel_types,
    'Transmission Type': transmission_types,
    'Price': price
}

In [57]:
price.append('₹ 8.25 L')

In [59]:
df3 = pd.DataFrame(data3)
df3['City'] = 'Bangalore'

df3

,Name,Kilometers Driven,Fuel Type,Transmission Type,Price,City
0,2022 Mahindra Bolero,"17,000 km",Diesel,Manual,Rs. 10.15 Lakh,Bangalore
1,2014 Maruti Suzuki Wagon R,"46,400 km",Petrol,Manual,Rs. 3.95 Lakh,Bangalore
2,2016 Maruti Suzuki Alto K10,"29,026 km",Petrol,AMT,Rs. 3.75 Lakh,Bangalore
3,2015 Maruti Suzuki Celerio,"28,800 km",Petrol,AMT,Rs. 4.65 Lakh,Bangalore
4,2017 Tata Tiago,"29,439 km",Petrol,Manual,Rs. 5.25 Lakh,Bangalore
...,...,...,...,...,...,...
84,2012 Skoda Rapid,"1,01,909 km",Diesel,Manual,Rs. 4.5 Lakh,Bangalore
85,2014 Mahindra XUV500,"67,146 km",Diesel,Manual,Rs. 9.5 Lakh,Bangalore
86,2015 Hyundai Grand i10,"37,888 km",Petrol,Manual,Rs. 4.7 Lakh,Bangalore
87,2016 Ford EcoSport,"71,490 km",Diesel,Manual,Rs. 7.25 Lakh,Bangalore
88,2018 Maruti Suzuki S-Cross,"58,000 km",Diesel,Manual,₹ 8.25 L,Bangalore

In [27]:
base_url = "https://www.carandbike.com/used/cars-in-kolkata/{}"

all_car_names = []
km_driven = []
fuel_types = []
transmission_types = []
price=[]


for page_num in range(1, 4):
    url = base_url.format(page_num)
    soup = get_soup(url)
    
    if soup:
        name_tags = soup.find_all("div", class_="ucTitle truncate truncate1")
        for tag in name_tags:
            car_name = tag.text.strip()
            all_car_names.append(car_name)
        
        car_info_tags = soup.find_all("ul", class_="ucInfo flex pt10 pb10")
        for info in car_info_tags:
            items = info.find_all("li")
            if len(items) >= 3:
                km_driven.append(items[0].text.strip())
                fuel_types.append(items[1].text.strip())
                transmission_types.append(items[2].text.strip())
                
        price_tags = soup.find_all("div", class_="ucPrice flex gridJcgridAc")
        for tag in price_tags:
            car_price= tag.text.strip()
            price.append(car_price)


print(all_car_names)
print(km_driven)
print(fuel_types)
print(transmission_types)
print(price)

['2018 Honda City', '2018 Maruti Suzuki Swift DZire', '2017 Mahindra KUV100', '2018 Maruti Suzuki Swift', '2018 Hyundai Verna', '2021 Hyundai i20', '2018 Hyundai Tucson', '2023 Kia Carens', '2023 Mahindra Thar', '2023 Mahindra Thar', '2018 Datsun Redi GO', '2019 Mahindra XUV300', '2016 Honda Amaze', '2017 Maruti Suzuki Swift DZire', '2017 Mahindra KUV100', '2017 Ford EcoSport', '2018 Maruti Suzuki Swift', '2021 Ford EcoSport', '2018 Tata Nexon', '2017 Maruti Suzuki Ciaz', '2020 Mahindra XUV500', '2017 Maruti Suzuki Swift DZire', '2020 Mahindra XUV300', '2019 Jeep Compass', '2019 Maruti Suzuki Wagon R', '2020 Maruti Suzuki Swift', '2023 Honda Amaze', '2015 Hyundai Creta', '2018 Hyundai Creta', '2021 Mahindra XUV300', '2018 Mahindra XUV500', '2019 Hyundai Creta', '2020 Mahindra Thar', '2024 Mahindra XUV700', '2017 Maruti Suzuki Wagon R', '2017 Maruti Suzuki Wagon R', '2011 Maruti Suzuki A-Star', '2009 Hyundai Verna', '2020 Maruti Suzuki Vitara Brezza', '2013 Chevrolet Sail UVA', '2016 Hyundai EON', '2018 Hyundai EON', '2016 Maruti Suzuki Celerio', '2015 Nissan Terrano', '2014 Hyundai Fluidic Verna', '2016 Hyundai Creta', '2015 Mahindra XUV500', '2018 Renault Duster', '2016 Mahindra XUV500', '2017 Hyundai EON', '2016 Mahindra KUV100', '2013 Hyundai i20', '2016 Ford EcoSport', '2014 Nissan Terrano', '2014 SsangYong Rexton W']
['16,062 km', '33,991 km', '21,500 km', '75,000 km', '26,884 km', '29,988 km', '12,241 km', '19,652 km', '10,495 km', '15,800 km', '38,664 km', '42,028 km', '58,856 km', '25,448 km', '55,872 km', '65,200 km', '4,20,000 km', '26,200 km', '61,218 km', '86,000 km', '73,978 km', '42,551 km', '38,855 km', '47,853 km', '83,665 km', '55,214 km', '27,123 km', '85,112 km', '81,339 km', '26,600 km', '98,152 km', '21,072 km', '25,885 km', '245 km', '65,221 km', '77,412 km', '47,280 km', '45,825 km', '48,966 km', '1,03,990 km', '65,236 km', '85,236 km', '66,200 km', '70,172 km', '90,633 km', '54,269 km', '78,185 km', '1,10,000 km', '76,200 km', '75,845 km', '53,758 km', '85,214 km', '58,854 km', '42,012 km', '57,965 km']
['Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Diesel']
['Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic']
['Rs. 7 Lakh', 'Rs. 4.5 Lakh', 'Rs. 3.5 Lakh', 'Rs. 5.5 Lakh', 'Rs. 5.5 Lakh', 'Rs. 7.25 Lakh', 'Rs. 7.75 Lakh', 'Rs. 12 Lakh', 'Rs. 14.5 Lakh', 'Rs. 14.5 Lakh', 'Rs. 2 Lakh', 'Rs. 8.5 Lakh', 'Rs. 2.99 Lakh', 'Rs. 3.5 Lakh', 'Rs. 3.5 Lakh', 'Rs. 4.25 Lakh', 'Rs. 5 Lakh', 'Rs. 5.5 Lakh', 'Rs. 6 Lakh', 'Rs. 6.5 Lakh', 'Rs. 9.75 Lakh', 'Rs. 3.85 Lakh', 'Rs. 9.5 Lakh', 'Rs. 11.5 Lakh', 'Rs. 4.85 Lakh', 'Rs. 5 Lakh', 'Rs. 5.75 Lakh', 'Rs. 6 Lakh', 'Rs. 9 Lakh', 'Rs. 9 Lakh', 'Rs. 9.5 Lakh', 'Rs. 10 Lakh', 'Rs. 12 Lakh', 'Rs. 28.3 Lakh', 'Rs. 3.5 Lakh', 'Rs. 3.75 Lakh', 'Rs. 1.8 Lakh', 'Rs. 2 Lakh', 'Rs. 6.15 Lakh', 'Rs. 1.45 Lakh', 'Rs. 1.5 Lakh', 'Rs. 1.85 Lakh', 'Rs. 2.09 Lakh', 'Rs. 3.49 Lakh', 'Rs. 4 Lakh', 'Rs. 6 Lakh', 'Rs. 6.25 Lakh', 'Rs. 6.5 Lakh', 'Rs. 6.5 Lakh', 'Rs. 2.25 Lakh', 'Rs. 2.25 Lakh', 'Rs. 3.25 Lakh', 'Rs. 3.7 Lakh', 'Rs. 3.5 Lakh', 'Rs. 3.75 Lakh']

In [28]:
data4 = {
    'Name': all_car_names,
    'Kilometers Driven': km_driven,
    'Fuel Type': fuel_types,
    'Transmission Type': transmission_types,
    'Price': price
}

In [29]:
df4 = pd.DataFrame(data4)
df4['City'] = 'Kolkata'

df4

,Name,Kilometers Driven,Fuel Type,Transmission Type,Price,City
0,2018 Honda City,"16,062 km",Petrol,Manual,Rs. 7 Lakh,Kolkata
1,2018 Maruti Suzuki Swift DZire,"33,991 km",Petrol,Manual,Rs. 4.5 Lakh,Kolkata
2,2017 Mahindra KUV100,"21,500 km",Petrol,Manual,Rs. 3.5 Lakh,Kolkata
3,2018 Maruti Suzuki Swift,"75,000 km",Diesel,Manual,Rs. 5.5 Lakh,Kolkata
4,2018 Hyundai Verna,"26,884 km",Petrol,Manual,Rs. 5.5 Lakh,Kolkata
5,2021 Hyundai i20,"29,988 km",Petrol,Manual,Rs. 7.25 Lakh,Kolkata
6,2018 Hyundai Tucson,"12,241 km",Petrol,Manual,Rs. 7.75 Lakh,Kolkata
7,2023 Kia Carens,"19,652 km",Petrol,Manual,Rs. 12 Lakh,Kolkata
8,2023 Mahindra Thar,"10,495 km",Diesel,Manual,Rs. 14.5 Lakh,Kolkata
9,2023 Mahindra Thar,"15,800 km",Diesel,Manual,Rs. 14.5 Lakh,Kolkata
10,2018 Datsun Redi GO,"38,664 km",Petrol,Manual,Rs. 2 Lakh,Kolkata
11,2019 Mahindra XUV300,"42,028 km",Diesel,Manual,Rs. 8.5 Lakh,Kolkata
12,2016 Honda Amaze,"58,856 km",Petrol,Manual,Rs. 2.99 Lakh,Kolkata
13,2017 Maruti Suzuki Swift DZire,"25,448 km",Diesel,Manual,Rs. 3.5 Lakh,Kolkata
14,2017 Mahindra KUV100,"55,872 km",Diesel,Manual,Rs. 3.5 Lakh,Kolkata
15,2017 Ford EcoSport,"65,200 km",Diesel,Manual,Rs. 4.25 Lakh,Kolkata
16,2018 Maruti Suzuki Swift,"4,20,000 km",Petrol,Manual,Rs. 5 Lakh,Kolkata
17,2021 Ford EcoSport,"26,200 km",Petrol,Manual,Rs. 5.5 Lakh,Kolkata
18,2018 Tata Nexon,"61,218 km",Petrol,Manual,Rs. 6 Lakh,Kolkata
19,2017 Maruti Suzuki Ciaz,"86,000 km",Petrol,Manual,Rs. 6.5 Lakh,Kolkata
20,2020 Mahindra XUV500,"73,978 km",Diesel,Manual,Rs. 9.75 Lakh,Kolkata
21,2017 Maruti Suzuki Swift DZire,"42,551 km",Diesel,Manual,Rs. 3.85 Lakh,Kolkata
22,2020 Mahindra XUV300,"38,855 km",Petrol,Manual,Rs. 9.5 Lakh,Kolkata
23,2019 Jeep Compass,"47,853 km",Diesel,Manual,Rs. 11.5 Lakh,Kolkata
24,2019 Maruti Suzuki Wagon R,"83,665 km",Petrol,Manual,Rs. 4.85 Lakh,Kolkata
25,2020 Maruti Suzuki Swift,"55,214 km",Petrol,Manual,Rs. 5 Lakh,Kolkata
26,2023 Honda Amaze,"27,123 km",Petrol,Manual,Rs. 5.75 Lakh,Kolkata
27,2015 Hyundai Creta,"85,112 km",Diesel,Manual,Rs. 6 Lakh,Kolkata
28,2018 Hyundai Creta,"81,339 km",Diesel,Manual,Rs. 9 Lakh,Kolkata
29,2021 Mahindra XUV300,"26,600 km",Petrol,Manual,Rs. 9 Lakh,Kolkata
30,2018 Mahindra XUV500,"98,152 km",Diesel,Manual,Rs. 9.5 Lakh,Kolkata
31,2019 Hyundai Creta,"21,072 km",Petrol,Manual,Rs. 10 Lakh,Kolkata
32,2020 Mahindra Thar,"25,885 km",Diesel,Manual,Rs. 12 Lakh,Kolkata
33,2024 Mahindra XUV700,245 km,Diesel,Automatic,Rs. 28.3 Lakh,Kolkata
34,2017 Maruti Suzuki Wagon R,"65,221 km",Petrol,Manual,Rs. 3.5 Lakh,Kolkata
35,2017 Maruti Suzuki Wagon R,"77,412 km",Petrol,Manual,Rs. 3.75 Lakh,Kolkata
36,2011 Maruti Suzuki A-Star,"47,280 km",Petrol,Manual,Rs. 1.8 Lakh,Kolkata
37,2009 Hyundai Verna,"45,825 km",Petrol,Manual,Rs. 2 Lakh,Kolkata
38,2020 Maruti Suzuki Vitara Brezza,"48,966 km",Petrol,Manual,Rs. 6.15 Lakh,Kolkata
39,2013 Chevrolet Sail UVA,"1,03,990 km",Petrol,Manual,Rs. 1.45 Lakh,Kolkata
40,2016 Hyundai EON,"65,236 km",Petrol,Manual,Rs. 1.5 Lakh,Kolkata
41,2018 Hyundai EON,"85,236 km",Petrol,Manual,Rs. 1.85 Lakh,Kolkata
42,2016 Maruti Suzuki Celerio,"66,200 km",Diesel,Manual,Rs. 2.09 Lakh,Kolkata
43,2015 Nissan Terrano,"70,172 km",Diesel,Manual,Rs. 3.49 Lakh,Kolkata
44,2014 Hyundai Fluidic Verna,"90,633 km",Diesel,Manual,Rs. 4 Lakh,Kolkata
45,2016 Hyundai Creta,"54,269 km",Petrol,Manual,Rs. 6 Lakh,Kolkata
46,2015 Mahindra XUV500,"78,185 km",Diesel,Manual,Rs. 6.25 Lakh,Kolkata
47,2018 Renault Duster,"1,10,000 km",Diesel,Manual,Rs. 6.5 Lakh,Kolkata
48,2016 Mahindra XUV500,"76,200 km",Diesel,Manual,Rs. 6.5 Lakh,Kolkata
49,2017 Hyundai EON,"75,845 km",Petrol,Manual,Rs. 2.25 Lakh,Kolkata
50,2016 Mahindra KUV100,"53,758 km",Petrol,Manual,Rs. 2.25 Lakh,Kolkata
51,2013 Hyundai i20,"85,214 km",Petrol,Manual,Rs. 3.25 Lakh,Kolkata
52,2016 Ford EcoSport,"58,854 km",Diesel,Manual,Rs. 3.7 Lakh,Kolkata
53,2014 Nissan Terrano,"42,012 km",Diesel,Manual,Rs. 3.5 Lakh,Kolkata
54,2014 SsangYong Rexton W,"57,965 km",Diesel,Automatic,Rs. 3.75 Lakh,Kolkata

In [30]:
base_url = "https://www.carandbike.com/used/cars-in-chennai/{}"

all_car_names = []
km_driven = []
fuel_types = []
transmission_types = []
price=[]


for page_num in range(1, 3):
    url = base_url.format(page_num)
    soup = get_soup(url)
    
    if soup:
        name_tags = soup.find_all("div", class_="ucTitle truncate truncate1")
        for tag in name_tags:
            car_name = tag.text.strip()
            all_car_names.append(car_name)
        
        car_info_tags = soup.find_all("ul", class_="ucInfo flex pt10 pb10")
        for info in car_info_tags:
            items = info.find_all("li")
            if len(items) >= 3:
                km_driven.append(items[0].text.strip())
                fuel_types.append(items[1].text.strip())
                transmission_types.append(items[2].text.strip())
                
        price_tags = soup.find_all("div", class_="ucPrice flex gridJcgridAc")
        for tag in price_tags:
            car_price= tag.text.strip()
            price.append(car_price)


print(all_car_names)
print(km_driven)
print(fuel_types)
print(transmission_types)
print(price)

['2021 Tata Nexon EV', '2016 Mahindra KUV100', '2019 Hyundai Grand i10', '2017 Volkswagen Ameo', '2017 Honda Jazz', '2019 Maruti Suzuki Swift', '2019 Maruti Suzuki Swift', '2022 Nissan Magnite', '2019 Honda Amaze', '2021 Hyundai Elite i20', '2022 Honda City', '2021 Mahindra XUV500', '2015 Maruti Suzuki Swift', '2014 Hyundai EON', '2018 Renault Captur', '2019 Honda City ZX', '2021 Mahindra Bolero Neo', '2021 Mahindra XUV700', '2016 Renault Kwid', '2017 Honda WR-V', '2011 Honda CR-V', '2012 Hyundai i10', '2009 Maruti Suzuki Swift', '2015 Ford Figo Aspire', '2018 Honda Amaze', '2019 Maruti Suzuki Swift', '2018 Hyundai Verna', '2014 Mahindra XUV500', '2015 Audi A4', '2016 Maruti Suzuki Swift', '2018 Nissan Micra', '2016 Maruti Suzuki Wagon R', '2017 Ford Figo Aspire', '2013 Mahindra XUV500', '2016 Maruti Suzuki Swift DZire', '2020 Renault Triber', '2019 Hyundai Grand i10 Nios', '2016 Honda City', '2014 Maruti Suzuki Ertiga', '2021 Maruti Suzuki Omni', '2019 Hyundai Creta', '2014 Mahindra XUV500', '2014 Mahindra XUV500', '2017 Hyundai EON', '2016 Maruti Suzuki Celerio', '2016 Honda Jazz', '2016 Honda BR-V', '2019 Maruti Suzuki S-Cross', '2017 Hyundai Creta', '2015 Tata Venture', '2015 Tata Bolt', '2015 Maruti Suzuki Celerio', '2018 Hyundai i20 Active', '2017 Honda Jazz', '2018 Tata Tigor', '2018 Maruti Suzuki Vitara Brezza', '2008 Maruti Suzuki Swift', '2018 Mahindra TUV300 Plus', '2014 Tata Aria']
['43,571 km', '74,472 km', '88,000 km', '62,000 km', '20,565 km', '55,000 km', '79,000 km', '14,000 km', '52,008 km', '28,522 km', '25,000 km', '79,000 km', '38,581 km', '74,777 km', '71,567 km', '59,365 km', '28,343 km', '20,580 km', '38,108 km', '37,480 km', '58,000 km', '1,29,000 km', '1,43,000 km', '68,000 km', '81,036 km', '1,14,000 km', '66,029 km', '83,291 km', '58,786 km', '51,842 km', '25,848 km', '70,301 km', '1,05,512 km', '1,50,000 km', '54,844 km', '26,525 km', '9,775 km', '50,597 km', '1,21,000 km', '7,500 km', '13,440 km', '1,00,000 km', '1,47,000 km', '35,625 km', '44,814 km', '42,525 km', '48,081 km', '42,700 km', '55,566 km', '68,598 km', '60,625 km', '62,565 km', '58,888 km', '87,452 km', '66,899 km', '58,885 km', '78,000 km', '10,000 km', '70,332 km']
['Electric', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol+LPG', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Diesel']
['Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'AMT', 'Automatic', 'Manual', 'Automatic', 'Manual', 'AMT', 'AMT', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'AMT', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'AMT', 'Manual', 'Manual', 'Manual', 'AMT', 'Manual', 'Manual', 'Manual']
['Rs. 13.1 Lakh', 'Rs. 3.5 Lakh', 'Rs. 4.75 Lakh', 'Rs. 5.25 Lakh', 'Rs. 6.2 Lakh', 'Rs. 6.25 Lakh', 'Rs. 7 Lakh', 'Rs. 7.1 Lakh', 'Rs. 7.8 Lakh', 'Rs. 8.35 Lakh', 'Rs. 9.5 Lakh', 'Rs. 15.5 Lakh', 'Rs. 4.1 Lakh', 'Rs. 3.25 Lakh', 'Rs. 6.95 Lakh', 'Rs. 10.3 Lakh', 'Rs. 12.75 Lakh', 'Rs. 26 Lakh', 'Rs. 3.25 Lakh', 'Rs. 7.25 Lakh', 'Rs. 2.2 Lakh', 'Rs. 2.25 Lakh', 'Rs. 2.5 Lakh', 'Rs. 4.5 Lakh', 'Rs. 4.7 Lakh', 'Rs. 6.6 Lakh', 'Rs. 8.45 Lakh', 'Rs. 8.85 Lakh', 'Rs. 14 Lakh', 'Rs. 3.2 Lakh', 'Rs. 3.7 Lakh', 'Rs. 3.8 Lakh', 'Rs. 4.5 Lakh', 'Rs. 5.75 Lakh', 'Rs. 6.2 Lakh', 'Rs. 6.5 Lakh', 'Rs. 6.8 Lakh', 'Rs. 7.2 Lakh', 'Rs. 7.5 Lakh', 'Rs. 9.75 Lakh', 'Rs. 12.5 Lakh', 'Rs. 8 Lakh', 'Rs. 7 Lakh', 'Rs. 2.3 Lakh', 'Rs. 4.05 Lakh', 'Rs. 4.95 Lakh', 'Rs. 6.6 Lakh', 'Rs. 9 Lakh', 'Rs. 1 Lakh', 'Rs. 1.8 Lakh', 'Rs. 3.1 Lakh', 'Rs. 4.1 Lakh', 'Rs. 6 Lakh', 'Rs. 6.4 Lakh', 'Rs. 7.5 Lakh', 'Rs. 8.5 Lakh', 'Rs. 2 Lakh', 'Rs. 9 Lakh', 'Rs. 4.5 Lakh']

In [31]:
data5 = {
    'Name': all_car_names,
    'Kilometers Driven': km_driven,
    'Fuel Type': fuel_types,
    'Transmission Type': transmission_types,
    'Price': price
}

In [32]:
df5 = pd.DataFrame(data5)
df5['City'] = 'Chennai'

df5

,Name,Kilometers Driven,Fuel Type,Transmission Type,Price,City
0,2021 Tata Nexon EV,"43,571 km",Electric,Automatic,Rs. 13.1 Lakh,Chennai
1,2016 Mahindra KUV100,"74,472 km",Petrol,Manual,Rs. 3.5 Lakh,Chennai
2,2019 Hyundai Grand i10,"88,000 km",Petrol,Manual,Rs. 4.75 Lakh,Chennai
3,2017 Volkswagen Ameo,"62,000 km",Petrol,Manual,Rs. 5.25 Lakh,Chennai
4,2017 Honda Jazz,"20,565 km",Petrol,Manual,Rs. 6.2 Lakh,Chennai
5,2019 Maruti Suzuki Swift,"55,000 km",Petrol,Manual,Rs. 6.25 Lakh,Chennai
6,2019 Maruti Suzuki Swift,"79,000 km",Diesel,Manual,Rs. 7 Lakh,Chennai
7,2022 Nissan Magnite,"14,000 km",Petrol,Manual,Rs. 7.1 Lakh,Chennai
8,2019 Honda Amaze,"52,008 km",Diesel,Automatic,Rs. 7.8 Lakh,Chennai
9,2021 Hyundai Elite i20,"28,522 km",Petrol,Manual,Rs. 8.35 Lakh,Chennai
10,2022 Honda City,"25,000 km",Petrol,Manual,Rs. 9.5 Lakh,Chennai
11,2021 Mahindra XUV500,"79,000 km",Diesel,Automatic,Rs. 15.5 Lakh,Chennai
12,2015 Maruti Suzuki Swift,"38,581 km",Petrol,Manual,Rs. 4.1 Lakh,Chennai
13,2014 Hyundai EON,"74,777 km",Petrol,Manual,Rs. 3.25 Lakh,Chennai
14,2018 Renault Captur,"71,567 km",Diesel,Manual,Rs. 6.95 Lakh,Chennai
15,2019 Honda City ZX,"59,365 km",Petrol,Manual,Rs. 10.3 Lakh,Chennai
16,2021 Mahindra Bolero Neo,"28,343 km",Diesel,Manual,Rs. 12.75 Lakh,Chennai
17,2021 Mahindra XUV700,"20,580 km",Petrol,Automatic,Rs. 26 Lakh,Chennai
18,2016 Renault Kwid,"38,108 km",Petrol,Manual,Rs. 3.25 Lakh,Chennai
19,2017 Honda WR-V,"37,480 km",Petrol,Manual,Rs. 7.25 Lakh,Chennai
20,2011 Honda CR-V,"58,000 km",Petrol,Manual,Rs. 2.2 Lakh,Chennai
21,2012 Hyundai i10,"1,29,000 km",Petrol+LPG,Manual,Rs. 2.25 Lakh,Chennai
22,2009 Maruti Suzuki Swift,"1,43,000 km",Petrol,Manual,Rs. 2.5 Lakh,Chennai
23,2015 Ford Figo Aspire,"68,000 km",Diesel,Manual,Rs. 4.5 Lakh,Chennai
24,2018 Honda Amaze,"81,036 km",Petrol,Manual,Rs. 4.7 Lakh,Chennai
25,2019 Maruti Suzuki Swift,"1,14,000 km",Diesel,AMT,Rs. 6.6 Lakh,Chennai
26,2018 Hyundai Verna,"66,029 km",Diesel,Automatic,Rs. 8.45 Lakh,Chennai
27,2014 Mahindra XUV500,"83,291 km",Diesel,Manual,Rs. 8.85 Lakh,Chennai
28,2015 Audi A4,"58,786 km",Diesel,Automatic,Rs. 14 Lakh,Chennai
29,2016 Maruti Suzuki Swift,"51,842 km",Diesel,Manual,Rs. 3.2 Lakh,Chennai
30,2018 Nissan Micra,"25,848 km",Petrol,AMT,Rs. 3.7 Lakh,Chennai
31,2016 Maruti Suzuki Wagon R,"70,301 km",Petrol,AMT,Rs. 3.8 Lakh,Chennai
32,2017 Ford Figo Aspire,"1,05,512 km",Diesel,Manual,Rs. 4.5 Lakh,Chennai
33,2013 Mahindra XUV500,"1,50,000 km",Diesel,Manual,Rs. 5.75 Lakh,Chennai
34,2016 Maruti Suzuki Swift DZire,"54,844 km",Diesel,Manual,Rs. 6.2 Lakh,Chennai
35,2020 Renault Triber,"26,525 km",Petrol,Manual,Rs. 6.5 Lakh,Chennai
36,2019 Hyundai Grand i10 Nios,"9,775 km",Petrol,Manual,Rs. 6.8 Lakh,Chennai
37,2016 Honda City,"50,597 km",Petrol,Manual,Rs. 7.2 Lakh,Chennai
38,2014 Maruti Suzuki Ertiga,"1,21,000 km",Diesel,Manual,Rs. 7.5 Lakh,Chennai
39,2021 Maruti Suzuki Omni,"7,500 km",Petrol,Manual,Rs. 9.75 Lakh,Chennai
40,2019 Hyundai Creta,"13,440 km",Petrol,Automatic,Rs. 12.5 Lakh,Chennai
41,2014 Mahindra XUV500,"1,00,000 km",Diesel,Manual,Rs. 8 Lakh,Chennai
42,2014 Mahindra XUV500,"1,47,000 km",Diesel,Manual,Rs. 7 Lakh,Chennai
43,2017 Hyundai EON,"35,625 km",Petrol,Manual,Rs. 2.3 Lakh,Chennai
44,2016 Maruti Suzuki Celerio,"44,814 km",Petrol,AMT,Rs. 4.05 Lakh,Chennai
45,2016 Honda Jazz,"42,525 km",Petrol,Manual,Rs. 4.95 Lakh,Chennai
46,2016 Honda BR-V,"48,081 km",Petrol,Manual,Rs. 6.6 Lakh,Chennai
47,2019 Maruti Suzuki S-Cross,"42,700 km",Diesel,Manual,Rs. 9 Lakh,Chennai
48,2017 Hyundai Creta,"55,566 km",Petrol,Manual,Rs. 1 Lakh,Chennai
49,2015 Tata Venture,"68,598 km",Diesel,Manual,Rs. 1.8 Lakh,Chennai
50,2015 Tata Bolt,"60,625 km",Petrol,Manual,Rs. 3.1 Lakh,Chennai
51,2015 Maruti Suzuki Celerio,"62,565 km",Petrol,AMT,Rs. 4.1 Lakh,Chennai
52,2018 Hyundai i20 Active,"58,888 km",Petrol,Manual,Rs. 6 Lakh,Chennai
53,2017 Honda Jazz,"87,452 km",Diesel,Manual,Rs. 6.4 Lakh,Chennai
54,2018 Tata Tigor,"66,899 km",Petrol,Manual,Rs. 7.5 Lakh,Chennai
55,2018 Maruti Suzuki Vitara Brezza,"58,885 km",Diesel,AMT,Rs. 8.5 Lakh,Chennai
56,2008 Maruti Suzuki Swift,"78,000 km",Petrol,Manual,Rs. 2 Lakh,Chennai
57,2018 Mahindra TUV300 Plus,"10,000 km",Diesel,Manual,Rs. 9 Lakh,Chennai
58,2014 Tata Aria,"70,332 km",Diesel,Manual,Rs. 4.5 Lakh,Chennai

In [33]:
base_url = "https://www.carandbike.com/used/cars-in-pune/{}"

all_car_names = []
km_driven = []
fuel_types = []
transmission_types = []
price=[]


for page_num in range(1, 8):
    url = base_url.format(page_num)
    soup = get_soup(url)
    
    if soup:
        name_tags = soup.find_all("div", class_="ucTitle truncate truncate1")
        for tag in name_tags:
            car_name = tag.text.strip()
            all_car_names.append(car_name)
        
        car_info_tags = soup.find_all("ul", class_="ucInfo flex pt10 pb10")
        for info in car_info_tags:
            items = info.find_all("li")
            if len(items) >= 3:
                km_driven.append(items[0].text.strip())
                fuel_types.append(items[1].text.strip())
                transmission_types.append(items[2].text.strip())
                
        price_tags = soup.find_all("div", class_="ucPrice flex gridJcgridAc")
        for tag in price_tags:
            car_price= tag.text.strip()
            price.append(car_price)


print(all_car_names)
print(km_driven)
print(fuel_types)
print(transmission_types)
print(price)

['2017 Maruti Suzuki Baleno', '2018 Tata Tigor', '2019 Tata Tiago', '2018 Ford EcoSport', '2021 Skoda Kushaq', '2014 Maruti Suzuki Alto K10', '2015 Hyundai Grand i10', '2018 Maruti Suzuki Celerio', '2016 Hyundai Grand i10', '2019 Ford Freestyle', '2019 Mahindra Marazzo', '2017 Honda WR-V', '2019 Maruti Suzuki Vitara Brezza', '2018 Honda City ZX', '2016 Hyundai Creta', '2021 MG Hector Plus', '2022 Mahindra XUV700', '2018 Maruti Suzuki Wagon R', '2015 Maruti Suzuki Celerio', '2014 Hyundai i20', '2017 Volkswagen Vento', '2018 Tata Nexon', '2017 Maruti Suzuki Ciaz', '2018 Volkswagen Ameo', '2018 Honda WR-V', '2021 Kia Sonet', '2022 Honda City', '2015 Honda Jazz', '2016 Ford EcoSport', '2016 Maruti Suzuki Baleno', '2016 Volkswagen Polo', '2017 Honda City', '2018 Volkswagen Ameo', '2018 Maruti Suzuki Swift DZire', '2016 Hyundai Creta', '2021 Honda Jazz', '2018 Hyundai Creta', '2019 Kia Seltos', '2016 Maruti Suzuki Wagon R', '2016 Volkswagen Vento', '2019 Maruti Suzuki Dzire', '2020 Hyundai Aura', '2018 Maruti Suzuki Vitara Brezza', '2020 Mahindra XUV300', '2015 Honda Amaze', '2015 Hyundai EON', '2012 Hyundai i10', '2013 Maruti Suzuki Wagon R', '2014 Volkswagen Vento', '2012 Mahindra Scorpio', '2018 Tata Tiago', '2015 Volkswagen Polo', '2019 Tata Tiago', '2015 Honda City', '2011 BMW X1', '2016 Honda City', '2020 Hyundai Grand i10 Nios', '2019 Renault Triber', '2022 Tata Punch', '2016 Mahindra Scorpio', '2015 Mahindra XUV500', '2017 Tata Hexa', '2013 Mercedes-Benz C-Class', '2021 Mahindra Thar', '2010 Honda City', '2011 Maruti Suzuki SX4', '2016 Mahindra TUV300', '2009 Maruti Suzuki Wagon R', '2009 Hyundai i10', '2010 Honda City', '2013 Honda Brio', '2018 Maruti Suzuki Alto K10', '2014 Hyundai Grand i10', '2013 Honda Amaze', '2014 Honda City', '2017 Renault Duster', '2013 Maruti Suzuki Ertiga', '2017 Maruti Suzuki Ciaz', '2014 Mahindra Scorpio', '2018 Maruti Suzuki Ertiga', '2015 Mercedes-Benz B-Class', '2018 Mahindra XUV500', '2019 Mahindra XUV500', '2008 Honda City ZX', '2012 Toyota Etios', '2016 Skoda Rapid', '2012 Mahindra XUV500', '2017 Skoda Rapid', '2017 Jeep Compass', '2017 Volkswagen Vento', '2010 Hyundai i10', '2012 Mahindra Verito', '2011 Hyundai i10', '2017 Maruti Suzuki Omni', '2016 Volkswagen Polo', '2014 Maruti Suzuki Ertiga']
['43,799 km', '42,000 km', '35,000 km', '38,000 km', '45,000 km', '52,000 km', '75,000 km', '26,648 km', '56,000 km', '75,000 km', '85,000 km', '57,000 km', '99,000 km', '57,000 km', '65,000 km', '20,100 km', '59,000 km', '32,075 km', '45,000 km', '38,000 km', '44,000 km', '48,434 km', '48,500 km', '44,000 km', '38,236 km', '45,022 km', '31,556 km', '55,000 km', '55,276 km', '66,454 km', '65,000 km', '71,910 km', '92,000 km', '79,650 km', '77,000 km', '10,000 km', '52,000 km', '15,000 km', '50,000 km', '36,523 km', '41,139 km', '34,650 km', '50,000 km', '34,000 km', '67,284 km', '16,832 km', '59,000 km', '82,000 km', '80,000 km', '1,22,365 km', '95,566 km', '65,000 km', '72,229 km', '87,415 km', '95,000 km', '97,885 km', '70,000 km', '53,702 km', '14,000 km', '1,20,000 km', '65,000 km', '90,000 km', '64,000 km', '60,000 km', '42,014 km', '1,19,702 km', '2,30,254 km', '74,000 km', '77,788 km', '91,000 km', '79,640 km', '71,000 km', '1,70,000 km', '79,500 km', '1,01,145 km', '1,02,000 km', '90,000 km', '90,000 km', '1,10,000 km', '1,74,754 km', '1,35,000 km', '74,404 km', '76,000 km', '50,000 km', '1,20,000 km', '1,24,654 km', '1,40,000 km', '71,655 km', '93,235 km', '48,000 km', '74,000 km', '1,12,000 km', '55,000 km', '93,000 km', '40,000 km', '1,23,000 km']
['Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol+CNG', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol+CNG', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Diesel', 'Diesel', 'Petrol', 'Petrol+CNG', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Diesel']
['Manual', 'AMT', 'AMT', 'Automatic', 'Automatic', 'AMT', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'AMT', 'AMT', 'Manual', 'Automatic', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Automatic', 'Manual', 'Manual', 'AMT', 'Automatic', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'AMT', 'Manual', 'Manual', 'AMT', 'Automatic', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'AMT', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'AMT', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual']
['Rs. 4.95 Lakh', 'Rs. 5.25 Lakh', 'Rs. 5.45 Lakh', 'Rs. 7.9 Lakh', 'Rs. 12.49 Lakh', 'Rs. 3.49 Lakh', 'Rs. 4.2 Lakh', 'Rs. 4.9 Lakh', 'Rs. 5.25 Lakh', 'Rs. 6.49 Lakh', 'Rs. 6.99 Lakh', 'Rs. 8.49 Lakh', 'Rs. 9.21 Lakh', 'Rs. 9.8 Lakh', 'Rs. 9.81 Lakh', 'Rs. 17.49 Lakh', 'Rs. 24.5 Lakh', 'Rs. 5.5 Lakh', 'Rs. 3.9 Lakh', 'Rs. 4.1 Lakh', 'Rs. 6.8 Lakh', 'Rs. 6.89 Lakh', 'Rs. 7.1 Lakh', 'Rs. 7.2 Lakh', 'Rs. 8.25 Lakh', 'Rs. 8.75 Lakh', 'Rs. 11.5 Lakh', 'Rs. 5.4 Lakh', 'Rs. 6.15 Lakh', 'Rs. 6.24 Lakh', 'Rs. 6.7 Lakh', 'Rs. 7 Lakh', 'Rs. 7.49 Lakh', 'Rs. 7.75 Lakh', 'Rs. 9.8 Lakh', 'Rs. 9.91 Lakh', 'Rs. 10.49 Lakh', 'Rs. 12.9 Lakh', 'Rs. 3.85 Lakh', 'Rs. 5.9 Lakh', 'Rs. 7.9 Lakh', 'Rs. 8.7 Lakh', 'Rs. 9.21 Lakh', 'Rs. 12.51 Lakh', 'Rs. 4.25 Lakh', 'Rs. 3 Lakh', 'Rs. 3.5 Lakh', 'Rs. 3.85 Lakh', 'Rs. 4.71 Lakh', 'Rs. 5 Lakh', 'Rs. 5.4 Lakh', 'Rs. 5.4 Lakh', 'Rs. 6 Lakh', 'Rs. 6.49 Lakh', 'Rs. 6.7 Lakh', 'Rs. 6.75 Lakh', 'Rs. 6.91 Lakh', 'Rs. 7.5 Lakh', 'Rs. 8.9 Lakh', 'Rs. 9.81 Lakh', 'Rs. 9.9 Lakh', 'Rs. 10.91 Lakh', 'Rs. 14.95 Lakh', 'Rs. 15.9 Lakh', 'Rs. 3 Lakh', 'Rs. 3.1 Lakh', 'Rs. 5.25 Lakh', 'Rs. 2.2 Lakh', 'Rs. 2.3 Lakh', 'Rs. 3 Lakh', 'Rs. 3.1 Lakh', 'Rs. 3.5 Lakh', 'Rs. 3.8 Lakh', 'Rs. 4 Lakh', 'Rs. 5.5 Lakh', 'Rs. 7.1 Lakh', 'Rs. 7.5 Lakh', 'Rs. 7.8 Lakh', 'Rs. 8.61 Lakh', 'Rs. 9 Lakh', 'Rs. 12.99 Lakh', 'Rs. 12.99 Lakh', 'Rs. 14.8 Lakh', 'Rs. 2.75 Lakh', 'Rs. 3.6 Lakh', 'Rs. 5.35 Lakh', 'Rs. 4.71 Lakh', 'Rs. 7.25 Lakh', 'Rs. 12.49 Lakh', 'Rs. 6.71 Lakh', 'Rs. 2.5 Lakh', 'Rs. 2.61 Lakh', 'Rs. 2.5 Lakh', 'Rs. 2.95 Lakh', 'Rs. 5.35 Lakh', 'Rs. 6.5 Lakh']

In [34]:
data6 = {
    'Name': all_car_names,
    'Kilometers Driven': km_driven,
    'Fuel Type': fuel_types,
    'Transmission Type': transmission_types,
    'Price': price
}

In [35]:
df6 = pd.DataFrame(data6)
df6['City'] = 'Pune'

df6

,Name,Kilometers Driven,Fuel Type,Transmission Type,Price,City
0,2017 Maruti Suzuki Baleno,"43,799 km",Diesel,Manual,Rs. 4.95 Lakh,Pune
1,2018 Tata Tigor,"42,000 km",Petrol,AMT,Rs. 5.25 Lakh,Pune
2,2019 Tata Tiago,"35,000 km",Petrol,AMT,Rs. 5.45 Lakh,Pune
3,2018 Ford EcoSport,"38,000 km",Petrol,Automatic,Rs. 7.9 Lakh,Pune
4,2021 Skoda Kushaq,"45,000 km",Petrol,Automatic,Rs. 12.49 Lakh,Pune
...,...,...,...,...,...,...
91,2012 Mahindra Verito,"1,12,000 km",Diesel,Manual,Rs. 2.61 Lakh,Pune
92,2011 Hyundai i10,"55,000 km",Petrol,Manual,Rs. 2.5 Lakh,Pune
93,2017 Maruti Suzuki Omni,"93,000 km",Petrol,Manual,Rs. 2.95 Lakh,Pune
94,2016 Volkswagen Polo,"40,000 km",Diesel,Manual,Rs. 5.35 Lakh,Pune
95,2014 Maruti Suzuki Ertiga,"1,23,000 km",Diesel,Manual,Rs. 6.5 Lakh,Pune

In [36]:
base_url = "https://www.carandbike.com/used/cars-in-thane/{}"

all_car_names = []
km_driven = []
fuel_types = []
transmission_types = []
price=[]


for page_num in range(1, 8):
    url = base_url.format(page_num)
    soup = get_soup(url)
    
    if soup:
        name_tags = soup.find_all("div", class_="ucTitle truncate truncate1")
        for tag in name_tags:
            car_name = tag.text.strip()
            all_car_names.append(car_name)
        
        car_info_tags = soup.find_all("ul", class_="ucInfo flex pt10 pb10")
        for info in car_info_tags:
            items = info.find_all("li")
            if len(items) >= 3:
                km_driven.append(items[0].text.strip())
                fuel_types.append(items[1].text.strip())
                transmission_types.append(items[2].text.strip())
                
        price_tags = soup.find_all("div", class_="ucPrice flex gridJcgridAc")
        for tag in price_tags:
            car_price= tag.text.strip()
            price.append(car_price)


print(all_car_names)
print(km_driven)
print(fuel_types)
print(transmission_types)
print(price)

['2019 Honda City', '2017 Maruti Suzuki Swift DZire', '2016 Maruti Suzuki Wagon R', '2018 Hyundai New Santro', '2018 Maruti Suzuki Baleno', '2018 Skoda Rapid', '2022 Tata Altroz', '2020 Honda WR-V', '2021 Maruti Suzuki S-Cross', '2021 Hyundai Venue', '2021 Maruti Suzuki XL6', '2022 Mahindra Marazzo', '2014 Maruti Suzuki Wagon R', '2020 Maruti Suzuki S-Presso', '2017 Maruti Suzuki Baleno', '2017 Hyundai i20', '2022 Renault Kiger', '2018 Honda WR-V', '2020 Tata Nexon', '2021 Hyundai Venue', '2016 Honda Jazz', '2017 Hyundai Grand i10', '2018 Honda Jazz', '2018 Honda Jazz', '2021 Renault Kiger', '2017 Honda WR-V', '2018 Ford EcoSport', '2018 Tata Nexon', '2018 Tata Nexon', '2019 Maruti Suzuki Ciaz', '2018 Maruti Suzuki Ciaz', '2018 Honda City ZX', '2015 Volkswagen Polo', '2016 Honda Jazz', '2021 Hyundai Aura', '2018 Tata Nexon', '2020 Maruti Suzuki S-Presso', '2015 Hyundai Grand i10', '2015 Hyundai i20', '2014 Honda City', '2016 Ford EcoSport', '2017 Maruti Suzuki Baleno', '2016 Volkswagen Vento', '2016 Renault Duster', '2016 Honda City', '2023 Maruti Suzuki Celerio', '2016 Renault Duster', '2017 Honda City ZX', '2017 Hyundai Creta', '2016 Toyota Corolla Altis', '2018 Hyundai Creta', '2016 Skoda Octavia', '2022 Mahindra XUV300', '2017 Hyundai Creta', '2019 Mahindra XUV500', '2016 Skoda Superb', '2018 Maruti Suzuki Celerio', '2015 Volkswagen Vento', '2019 Hyundai Grand i10', '2020 Honda City', '2018 Hyundai Creta', '2017 Hyundai Xcent', '2014 Volkswagen Vento', '2014 Volkswagen Polo', '2015 Hyundai Verna', '2016 Hyundai Verna', '2016 Honda BR-V', '2016 Hyundai Creta', '2016 Hyundai Creta', '2015 Mercedes-Benz M-Class', '2015 Skoda Rapid', '2017 Renault Duster', '2016 Maruti Suzuki Ertiga', '2016 Skoda Rapid', '2017 Jeep Compass', '2013 Skoda Rapid', '2010 Hyundai i20', '2017 Maruti Suzuki Wagon R', '2018 Honda WR-V', '2014 Maruti Suzuki Celerio', '2017 Honda BR-V', '2019 Hyundai Venue', '2014 Maruti Suzuki Swift DZire', '2015 Hyundai Xcent', '2018 Maruti Suzuki Swift', '2018 Maruti Suzuki Ciaz', '2016 Datsun Go Plus', '2016 Hyundai Elite i20', '2017 Tata Tiago', '2018 Tata Tigor', '2016 Maruti Suzuki Ertiga', '2018 Maruti Suzuki Vitara Brezza', '2016 BMW X1', '2015 Mercedes-Benz GL-Class', '2017 Renault Kwid', '2016 Honda Amaze', '2018 Maruti Suzuki Celerio', '2015 Renault Duster', '2016 Hyundai i20', '2018 Tata Nexon', '2017 Honda City', '2018 Maruti Suzuki Vitara Brezza', '2019 Tata Nexon', '2019 Honda City', '2012 Maruti Suzuki Swift DZire', '2014 Ford EcoSport', '2018 Ford Freestyle', '2016 Volkswagen Ameo', '2019 Maruti Suzuki Vitara Brezza', '2019 Hyundai Venue', '2016 Hyundai Creta', '2017 Hyundai Creta', '2022 Tata Nexon EV', '2019 Kia Seltos', '2021 Toyota Innova Crysta', '2020 Honda City', '2013 Nissan Terrano', '2015 Skoda Rapid', '2015 Ford EcoSport', '2016 Maruti Suzuki Ciaz', '2016 Hyundai Verna', '2018 Toyota Corolla Altis', '2022 Tata Nexon EV', '2012 Volkswagen Vento', '2016 Skoda Rapid']
['29,960 km', '46,569 km', '66,113 km', '28,683 km', '27,021 km', '9,638 km', '20,190 km', '20,840 km', '22,485 km', '23,683 km', '21,577 km', '7,798 km', '47,847 km', '31,178 km', '40,442 km', '37,360 km', '33,036 km', '41,845 km', '49,616 km', '46,107 km', '21,438 km', '59,982 km', '54,767 km', '24,772 km', '27,277 km', '59,681 km', '57,234 km', '52,912 km', '26,355 km', '60,442 km', '12,849 km', '60,236 km', '49,229 km', '47,649 km', '37,461 km', '48,233 km', '14,769 km', '54,609 km', '75,457 km', '71,826 km', '50,232 km', '66,033 km', '28,278 km', '68,167 km', '52,699 km', '5,128 km', '61,753 km', '53,740 km', '64,829 km', '76,225 km', '51,651 km', '62,486 km', '11,801 km', '54,284 km', '87,520 km', '57,417 km', '38,338 km', '48,090 km', '32,361 km', '34,093 km', '44,355 km', '49,029 km', '79,906 km', '83,906 km', '54,375 km', '60,085 km', '58,172 km', '75,213 km', '65,657 km', '98,774 km', '63,333 km', '62,140 km', '53,081 km', '38,104 km', '45,456 km', '73,490 km', '72,154 km', '27,522 km', '21,000 km', '31,527 km', '40,995 km', '33,000 km', '57,649 km', '0 km', '7,00,000 km', '67,000 km', '47,235 km', '70,000 km', '66,877 km', '5,340 km', '80,000 km', '26,419 km', '98,000 km', '71,518 km', '40,104 km', '33,100 km', '42,460 km', '32,147 km', '39,436 km', '32,535 km', '43,620 km', '49,313 km', '41,125 km', '33,889 km', '67,944 km', '53,037 km', '50,873 km', '50,013 km', '70,638 km', '60,000 km', '56,769 km', '59,478 km', '17,831 km', '58,246 km', '59,088 km', '36,155 km', '88,017 km', '78,107 km', '66,129 km', '74,651 km', '52,215 km', '63,503 km', '33,129 km', '60,030 km', '65,105 km']
['Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Petrol+CNG', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol+CNG', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol+CNG', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Petrol+CNG', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Electric', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Diesel', 'Petrol', 'Electric', 'Diesel', 'Petrol']
['Automatic', 'AMT', 'AMT', 'AMT', 'Automatic', 'Automatic', 'Manual', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'AMT', 'Manual', 'Manual', 'Automatic', 'Automatic', 'Manual', 'Automatic', 'Automatic', 'AMT', 'Manual', 'Automatic', 'AMT', 'AMT', 'Automatic', 'Automatic', 'Automatic', 'Manual', 'Automatic', 'AMT', 'AMT', 'AMT', 'Automatic', 'Manual', 'Manual', 'Automatic', 'Automatic', 'Automatic', 'Manual', 'Automatic', 'AMT', 'Manual', 'Automatic', 'Automatic', 'Manual', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Manual', 'Automatic', 'AMT', 'Automatic', 'Automatic', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Automatic', 'Automatic', 'Manual', 'Automatic', 'Automatic', 'Manual', 'AMT', 'Manual', 'Automatic', 'Automatic', 'Automatic', 'Manual', 'Manual', 'Manual', 'AMT', 'Manual', 'Manual', 'Manual', 'Manual', 'AMT', 'Manual', 'Manual', 'Manual', 'AMT', 'AMT', 'Manual', 'AMT', 'Automatic', 'Automatic', 'AMT', 'Manual', 'Manual', 'Manual', 'Manual', 'AMT', 'Automatic', 'Manual', 'Manual', 'Automatic', 'AMT', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Automatic', 'Automatic', 'Manual', 'Manual', 'Manual', 'Automatic', 'Automatic', 'Manual', 'Automatic', 'Automatic', 'Automatic', 'Manual', 'Automatic']
['Rs. 8.75 Lakh', 'Rs. 6.35 Lakh', 'Rs. 3.95 Lakh', 'Rs. 4.85 Lakh', 'Rs. 6.75 Lakh', 'Rs. 7.95 Lakh', 'Rs. 7.95 Lakh', 'Rs. 8.25 Lakh', 'Rs. 9.95 Lakh', 'Rs. 10.95 Lakh', 'Rs. 11.95 Lakh', 'Rs. 13.75 Lakh', 'Rs. 3.45 Lakh', 'Rs. 4.95 Lakh', 'Rs. 5.35 Lakh', 'Rs. 5.95 Lakh', 'Rs. 7.75 Lakh', 'Rs. 7.75 Lakh', 'Rs. 7.95 Lakh', 'Rs. 10.65 Lakh', 'Rs. 5.65 Lakh', 'Rs. 5.65 Lakh', 'Rs. 6.45 Lakh', 'Rs. 6.75 Lakh', 'Rs. 6.95 Lakh', 'Rs. 7.25 Lakh', 'Rs. 7.45 Lakh', 'Rs. 8.15 Lakh', 'Rs. 8.25 Lakh', 'Rs. 8.65 Lakh', 'Rs. 8.75 Lakh', 'Rs. 9.65 Lakh', 'Rs. 4.25 Lakh', 'Rs. 5.55 Lakh', 'Rs. 7 Lakh', 'Rs. 8.25 Lakh', 'Rs. 4.45 Lakh', 'Rs. 4.55 Lakh', 'Rs. 5.15 Lakh', 'Rs. 5.35 Lakh', 'Rs. 5.65 Lakh', 'Rs. 6.25 Lakh', 'Rs. 6.35 Lakh', 'Rs. 6.85 Lakh', 'Rs. 6.95 Lakh', 'Rs. 7 Lakh', 'Rs. 7.45 Lakh', 'Rs. 8.25 Lakh', 'Rs. 8.95 Lakh', 'Rs. 9.25 Lakh', 'Rs. 9.65 Lakh', 'Rs. 9.65 Lakh', 'Rs. 10.45 Lakh', 'Rs. 10.75 Lakh', 'Rs. 14.65 Lakh', 'Rs. 17.65 Lakh', 'Rs. 5.35 Lakh', 'Rs. 6.35 Lakh', 'Rs. 6.45 Lakh', 'Rs. 10.8 Lakh', 'Rs. 11.35 Lakh', 'Rs. 5.45 Lakh', 'Rs. 4.55 Lakh', 'Rs. 4.75 Lakh', 'Rs. 5.95 Lakh', 'Rs. 6.75 Lakh', 'Rs. 6.85 Lakh', 'Rs. 7.95 Lakh', 'Rs. 8.65 Lakh', 'Rs. 21.75 Lakh', 'Rs. 5.35 Lakh', 'Rs. 7.75 Lakh', 'Rs. 8.15 Lakh', 'Rs. 6.45 Lakh', 'Rs. 12.75 Lakh', 'Rs. 3.95 Lakh', 'Rs. 3.1 Lakh', 'Rs. 4.25 Lakh', 'Rs. 6.25 Lakh', 'Rs. 3.9 Lakh', 'Rs. 7.25 Lakh', 'Rs. 9.25 Lakh', 'Rs. 4.35 Lakh', 'Rs. 4.75 Lakh', 'Rs. 5.85 Lakh', 'Rs. 7.75 Lakh', 'Rs. 2.75 Lakh', 'Rs. 4.8 Lakh', 'Rs. 4.85 Lakh', 'Rs. 6.15 Lakh', 'Rs. 7.5 Lakh', 'Rs. 9.15 Lakh', 'Rs. 17.75 Lakh', 'Rs. 35.5 Lakh', 'Rs. 3.65 Lakh', 'Rs. 4.25 Lakh', 'Rs. 4.9 Lakh', 'Rs. 5.75 Lakh', 'Rs. 5.95 Lakh', 'Rs. 7.65 Lakh', 'Rs. 7.75 Lakh', 'Rs. 7.75 Lakh', 'Rs. 9.45 Lakh', 'Rs. 8.2 Lakh', 'Rs. 3.95 Lakh', 'Rs. 5.1 Lakh', 'Rs. 5.45 Lakh', 'Rs. 6.25 Lakh', 'Rs. 7.9 Lakh', 'Rs. 8.5 Lakh', 'Rs. 8.55 Lakh', 'Rs. 8.55 Lakh', 'Rs. 11.25 Lakh', 'Rs. 12.95 Lakh', 'Rs. 22 Lakh', 'Rs. 9.95 Lakh', 'Rs. 4.75 Lakh', 'Rs. 5.25 Lakh', 'Rs. 5.65 Lakh', 'Rs. 6.25 Lakh', 'Rs. 6.45 Lakh', 'Rs. 10.35 Lakh', 'Rs. 12.15 Lakh', 'Rs. 3.95 Lakh', 'Rs. 5.95 Lakh']

In [37]:
data7 = {
    'Name': all_car_names,
    'Kilometers Driven': km_driven,
    'Fuel Type': fuel_types,
    'Transmission Type': transmission_types,
    'Price': price
}

In [38]:
df7 = pd.DataFrame(data7)
df7['City'] = 'Thane'

df7

,Name,Kilometers Driven,Fuel Type,Transmission Type,Price,City
0,2019 Honda City,"29,960 km",Petrol,Automatic,Rs. 8.75 Lakh,Thane
1,2017 Maruti Suzuki Swift DZire,"46,569 km",Petrol,AMT,Rs. 6.35 Lakh,Thane
2,2016 Maruti Suzuki Wagon R,"66,113 km",Petrol,AMT,Rs. 3.95 Lakh,Thane
3,2018 Hyundai New Santro,"28,683 km",Petrol,AMT,Rs. 4.85 Lakh,Thane
4,2018 Maruti Suzuki Baleno,"27,021 km",Petrol,Automatic,Rs. 6.75 Lakh,Thane
...,...,...,...,...,...,...
120,2016 Hyundai Verna,"52,215 km",Diesel,Automatic,Rs. 6.45 Lakh,Thane
121,2018 Toyota Corolla Altis,"63,503 km",Petrol,Automatic,Rs. 10.35 Lakh,Thane
122,2022 Tata Nexon EV,"33,129 km",Electric,Automatic,Rs. 12.15 Lakh,Thane
123,2012 Volkswagen Vento,"60,030 km",Diesel,Manual,Rs. 3.95 Lakh,Thane
124,2016 Skoda Rapid,"65,105 km",Petrol,Automatic,Rs. 5.95 Lakh,Thane

In [39]:
base_url = "https://www.carandbike.com/used/cars-in-chandigarh/{}"

all_car_names = []
km_driven = []
fuel_types = []
transmission_types = []
price=[]


for page_num in range(1, 8):
    url = base_url.format(page_num)
    soup = get_soup(url)
    
    if soup:
        name_tags = soup.find_all("div", class_="ucTitle truncate truncate1")
        for tag in name_tags:
            car_name = tag.text.strip()
            all_car_names.append(car_name)
        
        car_info_tags = soup.find_all("ul", class_="ucInfo flex pt10 pb10")
        for info in car_info_tags:
            items = info.find_all("li")
            if len(items) >= 3:
                km_driven.append(items[0].text.strip())
                fuel_types.append(items[1].text.strip())
                transmission_types.append(items[2].text.strip())
                
        price_tags = soup.find_all("div", class_="ucPrice flex gridJcgridAc")
        for tag in price_tags:
            car_price= tag.text.strip()
            price.append(car_price)


print(all_car_names)
print(km_driven)
print(fuel_types)
print(transmission_types)
print(price)

['2023 Toyota Fortuner', '2019 Maruti Suzuki Alto 800', '2014 Maruti Suzuki Swift DZire', '2019 Hyundai Verna', '2017 Maruti Suzuki Baleno', '2023 Mahindra Thar', '2018 Renault Kwid', '2018 Maruti Suzuki Ignis', '2019 Volkswagen Polo', '2006 Maruti Suzuki Alto', '2009 Maruti Suzuki Alto', '2021 Maruti Suzuki S-Cross', '2019 Maruti Suzuki Vitara Brezza', '2019 Hyundai Creta', '2015 Tata Indigo eCS', '2012 Toyota Etios', '2015 Honda Amaze', '2015 Maruti Suzuki S-Cross', '2019 Hyundai Verna', '2016 Maruti Suzuki Alto K10', '2019 Hyundai Creta']
['28,000 km', '62,000 km', '85,450 km', '80,000 km', '21,458 km', '23,000 km', '1,05,000 km', '36,000 km', '50,000 km', '1,50,000 km', '1,10,000 km', '85,000 km', '64,000 km', '80,000 km', '1,50,000 km', '1,80,000 km', '1,35,000 km', '1,50,000 km', '1,35,000 km', '72,100 km', '97,600 km']
['Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Diesel', 'Petrol', 'Diesel']
['Automatic', 'Manual', 'Manual', 'Manual', 'Automatic', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'Manual', 'AMT', 'Manual']
['Rs. 40 Lakh', 'Rs. 3.5 Lakh', 'Rs. 3.85 Lakh', 'Rs. 9 Lakh', 'Rs. 6.25 Lakh', 'Rs. 15 Lakh', 'Rs. 2.5 Lakh', 'Rs. 4.2 Lakh', 'Rs. 5.5 Lakh', 'Rs. 1 Lakh', 'Rs. 1.5 Lakh', 'Rs. 6.5 Lakh', 'Rs. 7 Lakh', 'Rs. 8.5 Lakh', 'Rs. 1 Lakh', 'Rs. 2 Lakh', 'Rs. 3 Lakh', 'Rs. 6.5 Lakh', 'Rs. 9 Lakh', 'Rs. 3.4 Lakh', 'Rs. 9.2 Lakh']

In [40]:
data8 = {
    'Name': all_car_names,
    'Kilometers Driven': km_driven,
    'Fuel Type': fuel_types,
    'Transmission Type': transmission_types,
    'Price': price
}

In [62]:
df8 = pd.DataFrame(data8)
df8['City'] = 'Chandigarh'

df8

,Name,Kilometers Driven,Fuel Type,Transmission Type,Price,City
0,2023 Toyota Fortuner,"28,000 km",Petrol,Automatic,Rs. 40 Lakh,Chandigarh
1,2019 Maruti Suzuki Alto 800,"62,000 km",Petrol,Manual,Rs. 3.5 Lakh,Chandigarh
2,2014 Maruti Suzuki Swift DZire,"85,450 km",Diesel,Manual,Rs. 3.85 Lakh,Chandigarh
3,2019 Hyundai Verna,"80,000 km",Petrol,Manual,Rs. 9 Lakh,Chandigarh
4,2017 Maruti Suzuki Baleno,"21,458 km",Petrol,Automatic,Rs. 6.25 Lakh,Chandigarh
5,2023 Mahindra Thar,"23,000 km",Diesel,Manual,Rs. 15 Lakh,Chandigarh
6,2018 Renault Kwid,"1,05,000 km",Petrol,Manual,Rs. 2.5 Lakh,Chandigarh
7,2018 Maruti Suzuki Ignis,"36,000 km",Petrol,Manual,Rs. 4.2 Lakh,Chandigarh
8,2019 Volkswagen Polo,"50,000 km",Petrol,Manual,Rs. 5.5 Lakh,Chandigarh
9,2006 Maruti Suzuki Alto,"1,50,000 km",Petrol,Manual,Rs. 1 Lakh,Chandigarh
10,2009 Maruti Suzuki Alto,"1,10,000 km",Petrol,Manual,Rs. 1.5 Lakh,Chandigarh
11,2021 Maruti Suzuki S-Cross,"85,000 km",Petrol,Manual,Rs. 6.5 Lakh,Chandigarh
12,2019 Maruti Suzuki Vitara Brezza,"64,000 km",Diesel,Manual,Rs. 7 Lakh,Chandigarh
13,2019 Hyundai Creta,"80,000 km",Petrol,Manual,Rs. 8.5 Lakh,Chandigarh
14,2015 Tata Indigo eCS,"1,50,000 km",Diesel,Manual,Rs. 1 Lakh,Chandigarh
15,2012 Toyota Etios,"1,80,000 km",Diesel,Manual,Rs. 2 Lakh,Chandigarh
16,2015 Honda Amaze,"1,35,000 km",Diesel,Manual,Rs. 3 Lakh,Chandigarh
17,2015 Maruti Suzuki S-Cross,"1,50,000 km",Diesel,Manual,Rs. 6.5 Lakh,Chandigarh
18,2019 Hyundai Verna,"1,35,000 km",Diesel,Manual,Rs. 9 Lakh,Chandigarh
19,2016 Maruti Suzuki Alto K10,"72,100 km",Petrol,AMT,Rs. 3.4 Lakh,Chandigarh
20,2019 Hyundai Creta,"97,600 km",Diesel,Manual,Rs. 9.2 Lakh,Chandigarh

In [63]:
df = pd.concat([df1, df2, df3, df4, df5,df6,df7,df8]).reset_index(drop=True)
df

,Name,Kilometers Driven,Fuel Type,Transmission Type,Price,City
0,2022 Maruti Suzuki Wagon R,"9,733 km",Petrol,Manual,Rs. 5.25 Lakh,New Delhi
1,2022 Mahindra Scorpio,"17,915 km",Diesel,Manual,Rs. 13.75 Lakh,New Delhi
2,2022 Maruti Suzuki Vitara Brezza,"27,398 km",Petrol,Manual,Rs. 8.5 Lakh,New Delhi
3,2023 Tata Altroz,"4,900 km",Petrol,Manual,Rs. 9.75 Lakh,New Delhi
4,2022 Mahindra XUV300,"27,200 km",Diesel,Manual,Rs. 10.15 Lakh,New Delhi
...,...,...,...,...,...,...
770,2015 Honda Amaze,"1,35,000 km",Diesel,Manual,Rs. 3 Lakh,Chandigarh
771,2015 Maruti Suzuki S-Cross,"1,50,000 km",Diesel,Manual,Rs. 6.5 Lakh,Chandigarh
772,2019 Hyundai Verna,"1,35,000 km",Diesel,Manual,Rs. 9 Lakh,Chandigarh
773,2016 Maruti Suzuki Alto K10,"72,100 km",Petrol,AMT,Rs. 3.4 Lakh,Chandigarh
774,2019 Hyundai Creta,"97,600 km",Diesel,Manual,Rs. 9.2 Lakh,Chandigarh

In [64]:
df[['Year', 'Car Name']] = df['Name'].str.split(' ', 1, expand=True)
df

C:\Users\Tanmo\AppData\Local\Temp\ipykernel_3876\2633965384.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['Year', 'Car Name']] = df['Name'].str.split(' ', 1, expand=True)

,Name,Kilometers Driven,Fuel Type,Transmission Type,Price,City,Year,Car Name
0,2022 Maruti Suzuki Wagon R,"9,733 km",Petrol,Manual,Rs. 5.25 Lakh,New Delhi,2022,Maruti Suzuki Wagon R
1,2022 Mahindra Scorpio,"17,915 km",Diesel,Manual,Rs. 13.75 Lakh,New Delhi,2022,Mahindra Scorpio
2,2022 Maruti Suzuki Vitara Brezza,"27,398 km",Petrol,Manual,Rs. 8.5 Lakh,New Delhi,2022,Maruti Suzuki Vitara Brezza
3,2023 Tata Altroz,"4,900 km",Petrol,Manual,Rs. 9.75 Lakh,New Delhi,2023,Tata Altroz
4,2022 Mahindra XUV300,"27,200 km",Diesel,Manual,Rs. 10.15 Lakh,New Delhi,2022,Mahindra XUV300
...,...,...,...,...,...,...,...,...
770,2015 Honda Amaze,"1,35,000 km",Diesel,Manual,Rs. 3 Lakh,Chandigarh,2015,Honda Amaze
771,2015 Maruti Suzuki S-Cross,"1,50,000 km",Diesel,Manual,Rs. 6.5 Lakh,Chandigarh,2015,Maruti Suzuki S-Cross
772,2019 Hyundai Verna,"1,35,000 km",Diesel,Manual,Rs. 9 Lakh,Chandigarh,2019,Hyundai Verna
773,2016 Maruti Suzuki Alto K10,"72,100 km",Petrol,AMT,Rs. 3.4 Lakh,Chandigarh,2016,Maruti Suzuki Alto K10
774,2019 Hyundai Creta,"97,600 km",Diesel,Manual,Rs. 9.2 Lakh,Chandigarh,2019,Hyundai Creta

In [65]:
df

,Name,Kilometers Driven,Fuel Type,Transmission Type,Price,City,Year,Car Name
0,2022 Maruti Suzuki Wagon R,"9,733 km",Petrol,Manual,Rs. 5.25 Lakh,New Delhi,2022,Maruti Suzuki Wagon R
1,2022 Mahindra Scorpio,"17,915 km",Diesel,Manual,Rs. 13.75 Lakh,New Delhi,2022,Mahindra Scorpio
2,2022 Maruti Suzuki Vitara Brezza,"27,398 km",Petrol,Manual,Rs. 8.5 Lakh,New Delhi,2022,Maruti Suzuki Vitara Brezza
3,2023 Tata Altroz,"4,900 km",Petrol,Manual,Rs. 9.75 Lakh,New Delhi,2023,Tata Altroz
4,2022 Mahindra XUV300,"27,200 km",Diesel,Manual,Rs. 10.15 Lakh,New Delhi,2022,Mahindra XUV300
...,...,...,...,...,...,...,...,...
770,2015 Honda Amaze,"1,35,000 km",Diesel,Manual,Rs. 3 Lakh,Chandigarh,2015,Honda Amaze
771,2015 Maruti Suzuki S-Cross,"1,50,000 km",Diesel,Manual,Rs. 6.5 Lakh,Chandigarh,2015,Maruti Suzuki S-Cross
772,2019 Hyundai Verna,"1,35,000 km",Diesel,Manual,Rs. 9 Lakh,Chandigarh,2019,Hyundai Verna
773,2016 Maruti Suzuki Alto K10,"72,100 km",Petrol,AMT,Rs. 3.4 Lakh,Chandigarh,2016,Maruti Suzuki Alto K10
774,2019 Hyundai Creta,"97,600 km",Diesel,Manual,Rs. 9.2 Lakh,Chandigarh,2019,Hyundai Creta

In [66]:
df = df.drop(df.columns[0], axis=1)

In [67]:
last_column = df.columns[-1]
df.insert(0, last_column, df.pop(last_column))

In [71]:
df['Brand'] = df['Car Name'].str.split(' ', 1).str[0]

C:\Users\Tanmo\AppData\Local\Temp\ipykernel_3876\1313018319.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df['Brand'] = df['Car Name'].str.split(' ', 1).str[0]

In [72]:
df

,Car Name,Kilometers Driven,Fuel Type,Transmission Type,Price,City,Year,Brand
0,Maruti Suzuki Wagon R,"9,733 km",Petrol,Manual,Rs. 5.25 Lakh,New Delhi,2022,Maruti
1,Mahindra Scorpio,"17,915 km",Diesel,Manual,Rs. 13.75 Lakh,New Delhi,2022,Mahindra
2,Maruti Suzuki Vitara Brezza,"27,398 km",Petrol,Manual,Rs. 8.5 Lakh,New Delhi,2022,Maruti
3,Tata Altroz,"4,900 km",Petrol,Manual,Rs. 9.75 Lakh,New Delhi,2023,Tata
4,Mahindra XUV300,"27,200 km",Diesel,Manual,Rs. 10.15 Lakh,New Delhi,2022,Mahindra
...,...,...,...,...,...,...,...,...
770,Honda Amaze,"1,35,000 km",Diesel,Manual,Rs. 3 Lakh,Chandigarh,2015,Honda
771,Maruti Suzuki S-Cross,"1,50,000 km",Diesel,Manual,Rs. 6.5 Lakh,Chandigarh,2015,Maruti
772,Hyundai Verna,"1,35,000 km",Diesel,Manual,Rs. 9 Lakh,Chandigarh,2019,Hyundai
773,Maruti Suzuki Alto K10,"72,100 km",Petrol,AMT,Rs. 3.4 Lakh,Chandigarh,2016,Maruti
774,Hyundai Creta,"97,600 km",Diesel,Manual,Rs. 9.2 Lakh,Chandigarh,2019,Hyundai

In [74]:
df.to_csv('Car_and_bike_final.csv')